<div class="bg-white border-top">
    <div class="container py-4">
        <div class="fs-6 text-secondary">
            <div class="pb-3">
                When you use any of our services on <strong class="text-dark">NG Project</strong>, we may collect
                information using cookies. This information is used to provide you with a more personalized service and
                so we can continuously improve our products
            </div>
            <div class="pb-3">
                <div class="pt-4 h2 fw-bold text-dark">
                    What are Cookies?
                </div>
            </div>
            <div class="pb-3">
                "<strong class="text-dark">Cookies</strong>" are small pieces of information sent by a web server to a
                web browser, which enables the server to collect information from the browser.
            </div>
            <div class="pb-3">
                <strong class="text-dark">NG Project</strong> uses cookies for a number of purposes, for instance to
                enable us to simplify the logging on process for registered users, to help ensure the security and
                authenticity of registered users, and to enable traffic monitoring.
            </div>
            <div class="pb-3">
                <div class="pt-4 h5 fw-bold text-dark border-top mt-4">
                    Overview of our use of Cookies
                </div>
            </div>
            <div class="pb-3">
                Non-registered visitors of our Website are sent anonymous cookies to keep track of their browsing
                patterns and build up a demographic profile.
            </div>
            <div class="pb-3">
                Whilst you do not need to allow your browser to accept cookies in order to browse much of our Website
                or to access many of our Services, you must have cookies enabled if you wish to access any areas
                reserved for registered users.
            </div>
            <div class="pb-3">
                By using cookies, we can improve our Services and tailor them to your needs and preferences, by
                collecting information about your preferences. A cookie in no way gives us access to your computer or
                any information about you, other than the data you choose to share with us. You can choose to accept or
                decline cookies.
            </div>
            <div class="pb-3">
                Most web browsers automatically accept cookies, but you can usually modify your browser setting to
                decline cookies if you prefer. This may prevent you from taking full advantage of our Website and
                Services.
            </div>
            <div class="pb-3">
                <div class="pt-4 h5 fw-bold text-dark border-top mt-4">
                    Types of Cookies we Use
                </div>
            </div>
            <div class="pb-0">
                <div class="pt-2 h6 fw-bold text-dark">
                    First-Party and Third-Party Cookies
                </div>
            </div>
            <div class="pb-3">
                We use both first-party and third-party cookies on our Website.
                <br>
                First-party cookies are cookies issued from the <strong class="text-dark">NG Project</strong> domain
                that are
                generally used to identify language and location preferences or render basic site functionality.
            </div>
            <div class="pb-0">
                <div class="pt-2 h6 fw-bold text-dark">
                    Session Cookies
                </div>
            </div>
            <div class="pb-3">
                Session cookies are temporary cookies that are used to remember you during the course of your visit to
                the Website, and they expire when you close the web browser.
            </div>
            <div class="pb-0">
                <div class="pt-2 h6 fw-bold text-dark">
                    Persistent Cookies
                </div>
            </div>
            <div class="pb-3">
                Persistent cookies are used to remember your preferences within the Website and remain on your desktop
                or mobile device even after you close your browser or restart your computer. We use these cookies to
                analyze user behavior to establish visit patterns so that we can improve our Website functionality for
                you and others who visit our Website(s). These cookies also allow us to serve you with targeted
                advertising and measure the effectiveness of our site functionality and advertising.
            </div>
            <div class="pb-3">
                <div class="pt-4 h5 fw-bold text-dark border-top mt-4">
                    How are cookies used for advertising purposes?
                </div>
            </div>
            <div class="pb-3">
                Cookies and ad technology such as web beacons, pixels, and anonymous ad network tags help us serve
                relevant ads to you more effectively. They also help us collect aggregated audit data, research, and
                performance reporting for advertisers. Pixels enable us to understand and improve the delivery of ads to
                you and know when certain ads have been shown to you. Since your web browser may request advertisements
                and web beacons directly from ad network servers, these networks can view, edit, or set their own
                cookies, just as if you had requested a web page from their site.
            </div>
            <div class="pb-3">
                Although we do not use cookies to create a profile of your browsing behavior on third-party sites, we
                do use aggregate data from third parties to show you relevant, interest-based advertising. We do not
                provide any personal information that we collect to advertisers. You can opt out of off-site and
                third-party-informed advertising by adjusting your cookie settings. Opting out will not remove
                advertising from the pages you visit, but, instead, opting out will result in the ads you see not being
                matched to your interests. This implies that the ad(s) you see will not be matched to your interests by
                those specific cookies.
            </div>
            <div class="pb-3">
                <div class="pt-4 h5 fw-bold text-dark border-top mt-4">
                    How are third party cookies used?
                </div>
            </div>
            <div class="pb-3">
                For some of the functions within our Websites we use third party suppliers, for example, when you
                visit a page with videos embedded from or links to YouTube. These videos or links (and any other content
                from third party suppliers) may contain third party cookies, and we encourage you to consult the privacy
                policies of these third-party vendors on their Websites for information regarding their use of cookies.
            </div>
            <div class="pb-3">
                <div class="pt-4 h5 fw-bold text-dark border-top mt-4">
                    How do I reject and delete cookies?
                </div>
            </div>
            <div class="pb-3">
                You can change your preferences for the <strong class="text-dark">NG Project</strong> Website and/or the
                Websites of
                any third-party suppliers by changing your browser settings. Please note that most browsers
                automatically accept cookies. Therefore, if you do not wish cookies to be used, you may need to actively
                delete or block the cookies. If you reject the use of cookies, you will still be able to visit our
                Websites but some of the functions may not work correctly. By using our Website without deleting or
                rejecting some or all cookies, you agree that we can place those cookies that you have not deleted or
                rejected on your device.
            </div>
            <div class="pb-3">
                For your ease of reference, we have provided links to guides on how to do this for popular browsers:
            </div>

            <div class="pb-3">
                <div class="pt-1">
                    <strong class="text-dark">Internet Explorer</strong> :
                    <a href="https://support.microsoft.com/en-us/kb/278835#/en-us/kb/278835" target="_blank"
                        class="link-primary">
                        https://support.microsoft.com/en-us/kb/278835#/en-us/kb/278835
                    </a>
                </div>
                <div class="pt-1">
                    <strong class="text-dark">Chrome</strong> :
                    <a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank" class="link-primary">
                        https://support.google.com/chrome/answer/95647?hl=en
                    </a>
                </div>
                <div class="pt-1">
                    <strong class="text-dark">Safari</strong> :
                    <a href="https://support.apple.com/kb/PH17191?locale=en_GB" target="_blank" class="link-primary">
                        https://support.apple.com/kb/PH17191?locale=en_GB
                    </a>
                </div>
                <div class="pt-1">
                    <strong class="text-dark">Firefox</strong> :
                    <a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored"
                        target="_blank" class="link-primary">
                        https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored
                    </a>
                </div>
            </div>

            <div class="pt-3 pb-3">
                You may also visit
                <a href="http://www.allaboutcookies.org" target="_blank" class="link-primary">
                    www.allaboutcookies.org
                </a>
                for details on how to delete or reject cookies and for further information on cookies generally.
            </div>

        </div>
    </div>
</div>