<div class="bg-light border-top border-3 border-primary">
    <br>
</div>
<div class="bg-light">



    <div class="pt-4 text-center fw-bold fs-5">
        หนังสือแจ้งเตือนการชำระค่าเช่า
    </div>
    <div class="container py-4">
        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            Properties Owner
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-8">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ชื่อ และ นามสกุล (เจ้าของทรัพย์สิน)
                            </div>
                            <div class="input-group"><input type="text" class="form-control" value="นายอีริค คันโตน่า"
                                    disabled></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ประเภท/Category</div>
                            <div class="input-group"><input type="text" class="form-control" value="1 Bed rooms"
                                    disabled></div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">โครงการ/Project</div>
                            <div class="input-group"><input type="text" class="form-control" value="ลุมพินี วิวล์"
                                    disabled></div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">เลขที่ห้อง/Room No.</div>
                            <div class="input-group"><input type="text" class="form-control" value="B0513" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-8">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ที่ตั้ง/Location</div>
                            <div class="input-group">
                                <textarea rows="4" class="form-control"
                                    disabled>871/31 ถ.แจ้งวัฒนะ ต.ปากเกร็ด อ.ปากเกร็ด จ.นนทบุรี 11120</textarea>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate"> จังหวัด </div>
                            <div class="input-group"><input type="text" class="form-control" value="นนทบุรี" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            แจ้งเตือนการชำระค่าเช่า
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">สัญญาเช่าเลขที่</div>
                            <div class="input-group"><input type="text" class="form-control" value="ABCD0123456789"
                                    disabled></div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">วันที่</div>
                            <div class="input-group">
                                <input type="text" numbersonly class="form-control" value="xx ธันวาคม 2565">
                                <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ไม่ได้ชำระค่าเช่า/เดือน</div>
                            <div class="input-group">
                                <select class="form-select">
                                    <option value="01">มกราคม</option>
                                    <option value="02">กุมภาพันธ์</option>
                                    <option value="03">มีนาคม</option>
                                    <option value="04">เมษายน</option>
                                    <option value="05">พฤษภาคม</option>
                                    <option value="06">มิถุนายน</option>
                                    <option value="07">กรกฏ</option>
                                    <option value="08">สิงหาคม</option>
                                    <option value="09">กันยายน</option>
                                    <option value="10">ตุลาคม</option>
                                    <option value="11" selected>พฤศจิกายน</option>
                                    <option value="12">ธันวาคม</option>
                                </select>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">รวมเป็นเงินจำนวน</div>
                            <div class="input-group">
                                <input type="text" numbersonly class="form-control" value="18,000">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ชำระเงินภายในวันที่</div>
                            <div class="input-group">
                                <input type="text" numbersonly class="form-control" value="xx มกราคม 2566">
                                <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--  -->

    <div class="pt-4 text-center fw-bold fs-5">
        หนังสือแจ้งบอกเลิกสัญญาเช่า
    </div>
    <div class="container py-4">
        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            Properties Owner
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-8">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ชื่อ และ นามสกุล (เจ้าของทรัพย์สิน)
                            </div>
                            <div class="input-group"><input type="text" class="form-control" value="นายอีริค คันโตน่า"
                                    disabled></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ประเภท/Category</div>
                            <div class="input-group"><input type="text" class="form-control" value="1 Bed rooms"
                                    disabled></div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">โครงการ/Project</div>
                            <div class="input-group"><input type="text" class="form-control" value="ลุมพินี วิวล์"
                                    disabled></div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">เลขที่ห้อง/Room No.</div>
                            <div class="input-group"><input type="text" class="form-control" value="B0513" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-8">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ที่ตั้ง/Location</div>
                            <div class="input-group">
                                <textarea rows="4" class="form-control"
                                    disabled>871/31 ถ.แจ้งวัฒนะ ต.ปากเกร็ด อ.ปากเกร็ด จ.นนทบุรี 11120</textarea>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate"> จังหวัด </div>
                            <div class="input-group"><input type="text" class="form-control" value="นนทบุรี" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            Customer
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ชื่อลูกค้า/Customer Name</div>
                            <div class="input-group"><input type="text" class="form-control" value="นายทองดี ทองเค"
                                    disabled></div>
                        </div>
                        <div class="pb-3 col-12 col-md-6">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ผู้รับมอบอำนาจจากผู้ให้เช่า</div>
                            <div class="input-group"><input type="text" class="form-control" value="นางวันดี ศรีประภา"
                                    disabled></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">สิ้นสุดของสัญญาในวันที่</div>
                            <div class="input-group">
                                <input type="text" numbersonly class="form-control" value="02 ธันวาคม 2565">
                                <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ค่าไฟฟ้า/ค่าประปา</div>
                            <div class="input-group">
                                <input type="text" numbersonly class="form-control" value="1,574.50">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-4 text-center fw-bold fs-5">
        ขอรับการยืนยันการแต่งตั้งตัวแทนและนายหน้าดำเนินการเช่า
    </div>
    <div class="container py-4">
        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            Properties Owner
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-8">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ชื่อ และ นามสกุล (เจ้าของทรัพย์สิน)
                            </div>
                            <div class="input-group"><input type="text" class="form-control" value="นายอีริค คันโตน่า"
                                    disabled></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ประเภท/Category</div>
                            <div class="input-group"><input type="text" class="form-control" value="1 Bed rooms"
                                    disabled></div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">โครงการ/Project</div>
                            <div class="input-group"><input type="text" class="form-control" value="ลุมพินี วิวล์"
                                    disabled></div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">เลขที่ห้อง/Room No.</div>
                            <div class="input-group"><input type="text" class="form-control" value="B0513" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-8">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ที่ตั้ง/Location</div>
                            <div class="input-group">
                                <textarea rows="4" class="form-control"
                                    disabled>871/31 ถ.แจ้งวัฒนะ ต.ปากเกร็ด อ.ปากเกร็ด จ.นนทบุรี 11120</textarea>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate"> จังหวัด </div>
                            <div class="input-group"><input type="text" class="form-control" value="นนทบุรี" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            Customer
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-8">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ชื่อลูกค้า/Customer Name</div>
                            <div class="input-group"><input type="text" class="form-control"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">เงินมัดจำ/Deposit</div>
                            <div class="input-group">
                                <input type="text" numbersonly class="form-control">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ราคาเช่า/Sale Price</div>
                            <div class="input-group">
                                <input type="text" numbersonly class="form-control">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">ค่าบริการ/Service Fee </div>
                            <div class="input-group">
                                <input type="text" numbersonly class="form-control">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row justify-content-between pb-4">
            <div class="pb-3 col-5 col-sm-2"><button class="btn btn-secondary py-2 fs-6 w-100"> ยกเลิก </button></div>
            <div class="pb-3 col-7 col-sm-4 col-md-3"><button
                    class="btn btn-primary py-2 fs-6 fw-bold w-100">ทำสัญญา</button></div>
        </div>
    </div>
</div>