<div class="bg-white border-top">
    <div class="container">
        <div class="py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="javascript: void(0);" routerLink="/" class="fs-8 text-decoration-none">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="javascript: void(0);" routerLink="/member" class="fs-8 text-decoration-none">
                            Member
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="javascript: void(0);" class="fs-8 text-secondary text-decoration-none">
                            Change password
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<div class="bg-light border-top">
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-lg-3 order-2 order-lg-1">
                <app-member-links></app-member-links>
            </div>
            <div class="pb-3 pb-lg-0 col-12 col-lg-9 order-1 order-lg-2">
                <div class="bg-white border p-4">
                    <div class="row">

                        <div class="col-12 col-lg-6">
                            <div class="pb-4 fs-4 text-title">
                                Change password
                            </div>
                            <div class="pb-2">
                                <div class="pb-1 fs-7 text-secondary">
                                    Current password
                                </div>
                                <div>
                                    <input type="password" class="form-control rounded-0">
                                </div>
                            </div>
                            <div class="pb-2">
                                <div class="pb-1 fs-7 text-secondary">
                                    New password
                                </div>
                                <div>
                                    <input type="password" class="form-control rounded-0">
                                </div>
                            </div>
                            <div class="pb-2">
                                <div class="pb-1 fs-7 text-secondary">
                                    Confirm password
                                </div>
                                <div>
                                    <input type="password" class="form-control rounded-0">
                                </div>
                            </div>
                            <div class="pt-2 pb-4 fs-7 text-secondary">
                                Passwords must have at least 8 characters and contain at least two of the following:
                                <br>- Uppercase letters
                                <br>- Lowercase letters
                                <br>- Numbers
                                <br>- Symbols
                            </div>
                            <div>
                                <button class="btn btn-primary fs-7 rounded-0 px-4">
                                    Save changes
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>