<div class="pb-3">
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <div class="fs-7 text-secondary">
                <i class="fas fa-plane-departure"></i>
            </div>
        </div>
        <div class="col-auto">
            <button class="btn border-0 p-0 fs-7 fw-bold text-dark" data-bs-toggle="collapse"
                data-bs-target="#collapseFlightDetail" aria-expanded="false"
                aria-controls="collapseFlightDetail">
                Flight detail
            </button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn border-0 p-0 fs-7 text-primary" data-bs-toggle="collapse"
                data-bs-target="#collapseFlightDetail" aria-expanded="false"
                aria-controls="collapseFlightDetail">
                Add flight information
            </button>
        </div>
    </div>
</div>
<div class="collapse" id="collapseFlightDetail">
    <div class="row">
        <div class="pb-3 col-6 col-xl-3">
            <div class="fs-7 text-secondary text-truncate">
                Flight from date
            </div>
            <div class="pt-1 input-group">
                <input type="text" class="form-control rounded-0 fs-7">
                <span class="input-group-text rounded-0 fs-7">
                    <i class="fas fa-calendar-day"></i>
                </span>
            </div>
        </div>
        <div class="pb-3 col-6 col-xl-3">
            <div class="fs-7 text-secondary text-truncate">
                Estimate time arrival
            </div>
            <div class="pt-1">
                <input type="text" class="form-control rounded-0 fs-7" placeholder="00:00">
            </div>
        </div>
        <div class="pb-3 col-6 col-xl-3">
            <div class="fs-7 text-secondary text-truncate">
                Flight number
            </div>
            <div class="pt-1">
                <input type="text" class="form-control rounded-0 fs-7">
            </div>
        </div>
        <div class="pb-3 col-6 col-xl-3">
            <div class="fs-7 text-secondary text-truncate">
                Travel from
            </div>
            <div class="pt-1">
                <input type="text" class="form-control rounded-0 fs-7">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pb-3 col-6 col-xl-3">
            <div class="fs-7 text-secondary text-truncate">
                Flight from date
            </div>
            <div class="pt-1 input-group">
                <input type="text" class="form-control rounded-0 fs-7">
                <span class="input-group-text rounded-0 fs-7">
                    <i class="fas fa-calendar-day"></i>
                </span>
            </div>
        </div>
        <div class="pb-3 col-6 col-xl-3">
            <div class="fs-7 text-secondary text-truncate">
                Estimate time departure
            </div>
            <div class="pt-1">
                <input type="text" class="form-control rounded-0 fs-7" placeholder="00:00">
            </div>
        </div>
        <div class="pb-3 col-6 col-xl-3">
            <div class="fs-7 text-secondary text-truncate">
                Flight number
            </div>
            <div class="pt-1">
                <input type="text" class="form-control rounded-0 fs-7">
            </div>
        </div>
        <div class="pb-3 col-6 col-xl-3">
            <div class="fs-7 text-secondary text-truncate">
                Travel to
            </div>
            <div class="pt-1">
                <input type="text" class="form-control rounded-0 fs-7">
            </div>
        </div>
    </div>
</div>