<!-- Modal -->
<div class="modal fade" id="boxMultiLanguagesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered rounded-1">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6 text-title fw-bold text-dark">Languages</h1>
                <button type="button" class="btn-close shadow-none border-0" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

            </div>
        </div>
    </div>
</div>