
$primary: #202020;
$identity: #e7a000;

$bg-background: #393939;
$secondary-color: #F7941D;
$star-rating: #FF9900;



.bg-body-background {
  background-color: $bg-background;
  font-family: 'Inter', 'Sarabun', 'Noto Sans SC', Arial;
}

.text-title {
  font-family: 'PT Serif', 'Kanit', 'Noto Serif SC', Arial;
}

.text-identity{ color: $identity; }

.fs-7 {
  font-size: 0.9rem;
}

.fs-8 {
  font-size: 0.8rem;
}

.fs-9 {
  font-size: 0.7rem;
}


.rn-bgcover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hover-zoom-effect {
  transition: all 0.3s;
}

.hover-zoom-effect a {
  transition: all 0.3s;
  transform: scale(1.0);
}

.hover-zoom-effect:hover a {
  transform: scale(1.02);
}


.bg-rn-secondary {
  background-color: $secondary-color;
}

.text-star-rating {
  color: $star-rating;
}


.btn-primary {
  background-color: $primary !important;
  border-color: $primary !important;
}

.btn-primary {
  &:active {
      box-shadow: 0 0 0 0.25rem rgba(20, 20, 20, 0.5);

      &:focus {
          box-shadow: 0 0 0 0.25rem rgba(20, 20, 20, 0.5);
      }
  }

  &:focus-within,
  &:target,
  &:focus {
      box-shadow: 0 0 0 0.25rem rgba(20, 20, 20, 0.5);
  }
}
