
.bg-body-background {
    background-color: #393939;
    font-family: 'Inter', 'Sarabun', 'Noto Sans SC', Arial;
  }

  .text-title {
    font-family: 'Inter', 'Kanit', 'Noto Serif SC', Arial;
  }

  .fs-7 {
    font-size: 0.9rem;
  }

  .fs-8 {
    font-size: 0.8rem;
  }

  .fs-9 {
    font-size: 0.7rem;
  }

