<div class="bg-white rounded w-100">
    <div class="p-4">
        <div class="row">
            <div class="position-relative pb-4 pb-md-0 col-12 col-md-5">
                <div class="d-flex pb-2">
                    <div class="pe-2 fs-8 text-warning">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="fs-8 text-secondary">
                        Destination
                    </div>
                </div>
                <div>
                    <ng-autocomplete [data]="countries" [searchKeyword]="keyword" placeholder="Enter destination"
                        (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                        (inputFocused)='onFocused($event)' historyIdentifier="countries" [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate">
                    </ng-autocomplete>
                    <ng-template #itemTemplate let-item>
                        <a>
                            <div class="d-flex">
                                <div class="pe-2 text-warning"><i class="fas fa-map-marker-alt"></i></div>
                                <div class="ps-1" [innerHTML]="item.name"></div>
                            </div>
                        </a>
                    </ng-template>
                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
            </div>
            <div class="pb-4 pb-md-0 col-12 col-md-5">
                <app-ttk-calendar></app-ttk-calendar>
            </div>
            <div class="pb-2 col-12 col-md-2">
                <button class="btn btn-primary w-100 fs-7 rounded-pill" routerLink="/hotel/result">
                    Find
                </button>
            </div>
        </div>
    </div>
    <div class="pt-2 px-4 border-top bg-light rounded-bottom">
        <div class="row">
            <div class="pb-3 col-12 col-md-auto d-none">

                <div class="position-relative">
                    <button class="btn p-0 border-0 w-100 text-start" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseWidthExample" aria-expanded="false"
                        aria-controls="collapseWidthExample">
                        <div class="d-flex">
                            <div class="pe-2 fs-8 text-secondary">
                                <i class="fas fa-bed"></i>
                            </div>
                            <div class="ps-1 fs-8 text-dark">
                                1 Room, 2 Adults
                            </div>
                        </div>
                    </button>

                    <div class="position-absolute collapse" id="collapseWidthExample"
                        style="margin: 0rem  0rem 0rem -1.5rem; min-width: 320px; width: calc(100% + 3rem); z-index: 3;">
                        <div class="bg-light shadow-sm rounded-bottom">
                            <div class="py-3 px-4">
                                <div class="border-top pt-2 pb-3 border-top">
                                    <div class="fs-7 text-secondary">
                                        Title
                                    </div>
                                </div>
                                <div class="fs-7 text-secondary">
                                    This is some placeholder content for a horizontal collapse. It's hidden by default
                                    and shown when triggered. This is some placeholder content for a horizontal
                                    collapse. It's hidden by default and shown when triggered.
                                </div>
                            </div>
                            <div class="border-top d-flex justify-content-end">
                                <div class="py-2 px-2">
                                    <button class="btn btn-dark rounded-1" data-bs-target="#collapseWidthExample"
                                        data-bs-toggle="collapse">
                                        <div class="fs-8">Done</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pb-3 col-auto">
                <div class="dropdown">
                    <button type="button" id="ddwn" class="btn p-0 border-0 w-100 text-start" data-bs-toggle="dropdown">
                        <div class="d-flex">
                            <div class="pe-2 fs-8 text-secondary">
                                <i class="fas fa-bed"></i>
                            </div>
                            <div class="ps-1 fs-8 text-dark">
                                1 Room, 2 Adults
                            </div>
                        </div>
                    </button>
                    <!-- <div class="dropdown-menu mt-2" id="dropdown_detail" [btn]="'ddwn'" appDropdownClickInside> -->
                    <div class="dropdown-menu mt-2">
                        <div class="py-2 px-4" style="width: 320px;">
                            <div class="row g-0">
                                <div class="col-5">
                                    <input type="text" class="btn border-0 fs-7 fw-bold text-dark py-1 px-2 w-100 text-start" value="Room" readonly>
                                </div>
                                <div class="col-7">
                                    <div class="row g-0">
                                        <div class="col-3">
                                            <input type="button" class="btn fs-7 py-1 px-2 btn-outline-dark rounded-pill w-100 opacity-25" value="-" readonly>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="btn border-0 fs-6 py-1 px-2 w-100 fw-bold" value="1" readonly>
                                        </div>
                                        <div class="col-3">
                                            <input type="button" class="btn fs-7 py-1 px-2 btn-outline-dark rounded-pill w-100" value="+">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-0 border-top">
                                <div class="pt-3 col-5">
                                    <input type="text" class="btn border-0 fs-7 fw-bold text-dark py-1 px-2 w-100 text-start" value="Adults" readonly>
                                </div>
                                <div class="pt-3 col-7">
                                    <div class="row g-0">
                                        <div class="col-3">
                                            <input type="button" class="btn fs-7 py-1 px-2 btn-outline-dark rounded-pill w-100 opacity-25" value="-" readonly>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="btn border-0 fs-6 py-1 px-2 w-100 fw-bold" value="2" readonly>
                                        </div>
                                        <div class="col-3">
                                            <input type="button" class="btn fs-7 py-1 px-2 btn-outline-dark rounded-pill w-100" value="+">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-0 border-top">
                                <div class="pt-3 col-5">
                                    <input type="text" class="btn border-0 fs-7 fw-bold text-dark py-1 px-2 w-100 text-start" value="Children" readonly>
                                </div>
                                <div class="pt-3 col-7">
                                    <div class="row g-0">
                                        <div class="col-3">
                                            <input type="button" class="btn fs-7 py-1 px-2 btn-outline-dark rounded-pill w-100 opacity-25" value="-" readonly>
                                        </div>
                                        <div class="col-6">
                                            <input type="text" class="btn border-0 fs-6 py-1 px-2 w-100 fw-bold" value="2" readonly>
                                        </div>
                                        <div class="col-3">
                                            <input type="button" class="btn fs-7 py-1 px-2 btn-outline-dark rounded-pill w-100" value="+">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pb-3 col-auto">
                <button class="btn p-0 border-0 w-100 text-start">
                    <div class="d-flex">
                        <div class="pe-2 fs-8 text-secondary">
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="ps-1 fs-8 text-dark">
                            Recommended Destination :
                        </div>
                        <div class="ps-1 fs-8 text-dark">
                            Bangkok, Pattaya, Phuket
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>