
                        <div class="bg-white rounded w-100">
                            <div class="p-4">
                                <div class="row align-items-end">
                                    <div class="pb-4 pb-md-0 col-12 col-md-5">
                                        <div class="d-flex pb-2">
                                            <div class="pe-2 fs-8 text-warning">
                                                <i class="fas fa-map-marker-alt"></i>
                                            </div>
                                            <div class="fs-8 text-secondary">
                                                Destination
                                            </div>
                                        </div>
                                        <div>
                                            <input type="text"
                                                class="form-control p-0 border-0 rounded-0 shadow-none fs-5 fw-bold text-dark"
                                                placeholder="Enter Destination">
                                        </div>
                                    </div>
                                    <div class="pb-4 pb-md-0 col-12 col-md-5">
                                        <app-ttk-calendar></app-ttk-calendar>
                                    </div>
                                    <div class="pb-2 col-12 col-md-2">
                                        <button class="btn btn-primary w-100 fs-7 rounded-pill">Find</button>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2 pb-3 px-4 border-top bg-light rounded-bottom">
                                <div class="row">
                                    <div class="col-auto">
                                        <button class="btn p-0 border-0 w-100 text-start">
                                            <div class="d-flex">
                                                <div class="pe-2 fs-8 text-secondary">
                                                    <i class="fas fa-bed"></i>
                                                </div>
                                                <div class="ps-1 fs-8 text-dark">
                                                    1 Room, 2 Adults
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn p-0 border-0 w-100 text-start">
                                            <div class="d-flex">
                                                <div class="pe-2 fs-8 text-secondary">
                                                    <i class="fas fa-search"></i>
                                                </div>
                                                <div class="ps-1 fs-8 text-dark">
                                                    Recommended Destination :
                                                </div>
                                                <div class="ps-1 fs-8 text-dark">
                                                    Bangkok, Pattaya, Phuket
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>