<div class="class-custom">
    <div class="dp-hidden position-absolute">
        <div class="input-group">
            <input name="datepicker" class="opacity-0" ngbDatepicker #datepicker="ngbDatepicker" [autoClose]="'outside'"
                (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden"
                [startDate]="fromDate!" tabindex="-1" [footerTemplate]="footerTemplate" autocomplete="off">
            <ng-template #t let-date let-focused="focused">
                <div class="custom-day p-0" [class.focused]="focused" [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)" [class.from-date]="isFormDate(date)"
                    [class.to-date]="isToDate(date)" (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                    <div class="p-2 w-100 h-100">{{ date.day }}</div>
                </div>
            </ng-template>
            <ng-template #footerTemplate>
                <div class="d-flex justify-content-end border w-100">
                    <div class="p-2">
                        <button class="btn btn-dark fs-8 rounded-1" (click)="datepicker.close()">
                            Done
                        </button>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
    <div class="">
        <div class="d-flex pb-2">
            <div class="pe-2 fs-8 text-warning">
                <i class="fas fa-calendar-day"></i>
            </div>
            <div class="fs-8 text-secondary">
                Stay . Sat - Mon, 2 Nights
            </div>
        </div>
        <!-- <input #dpFromDate type="hidden" class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                [value]="formatter.format(fromDate)+' - '+formatter.format(toDate)"
                (input)="fromDate = validateInput(fromDate, dpFromDate.value)"> -->
        <button class="btn p-0 border-0 rounded-0 shadow-none fs-5 fw-bold text-dark" (click)="datepicker.toggle()"
            type="button">
            {{formatter.format(fromDate)+' - '+formatter.format(toDate)}}
        </button>
    </div>
</div>


<!--

                                        <div class="d-flex pb-2">
                                            <div class="pe-2 fs-8 text-warning">
                                                <i class="fas fa-calendar-day"></i>
                                            </div>
                                            <div class="fs-8 text-secondary">
                                                Stay . Sat - Mon, 2 Nights
                                            </div>
                                        </div>
                                        <div>
                                            <button
                                                class="btn p-0 border-0 rounded-0 shadow-none fs-5 fw-bold text-dark">
                                                24 - 26 Dec 2022
                                            </button>
                                        </div>

 -->