<div class="p-3 border-top">
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <div class="fs-7 text-secondary">
                <i class="fas fa-shopping-bag"></i>
            </div>
        </div>
        <div class="col-auto">
            <div class="fs-7 fw-bold text-dark">
                Enchance your service
            </div>
        </div>
    </div>
</div>
<ng-container *ngFor="let enchance of enhance_service">
    <div class="p-3 border-top">
        <div class="row g-3">
            <div class="col-12 col-md-3">
                <div class="overflow-hidden rounded-1">
                    <img src="{{enchance.image}}" class="w-100">
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="pb-2">
                    <div class="fs-6 fw-bold text-dark">{{enchance.name}}</div>
                </div>
                <div class="pb-2">
                    <div class="fs-8 text-secondary">
                        {{enchance.detail}}
                    </div>
                </div>
                <div class="pb-2">
                    <div class="row">
                        <div class="col-auto">
                            <div class="fs-7 fw-bold text-dark">
                                Adult : THB {{enchance.adultprice | number}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="fs-7 fw-bold text-dark">
                                Children : THB {{enchance.childprice | number}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <div class="row g-3">
                        <div class="col-4 col-md-6 col-xl-4">
                            <div class="fs-7 text-secondary text-truncate">
                                Quantity
                            </div>
                            <div class="pt-1 input-group">
                                <select class="form-select rounded-0 fs-7">
                                    <option value="">0</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                    <option value="">3</option>
                                    <option value="">4</option>
                                    <option value="">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-8 col-md-6 col-xl-5">
                            <div class="fs-7 text-secondary text-truncate">
                                Service date
                            </div>
                            <div class="pt-1 input-group">
                                <input type="text" class="form-control rounded-0 fs-7">
                                <span class="input-group-text rounded-0 fs-7">
                                    <i class="fas fa-calendar-day"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-xl-9">
                            <div class="fs-7 text-secondary text-truncate">
                                Remark
                            </div>
                            <div class="pt-1">
                                <textarea rows="3" class="form-control rounded-0 fs-7"></textarea>
                            </div>
                        </div>
                        <div class="col-12 col-xl-9">
                            <button class="btn btn-primary rounded-1 fs-8">
                                Book enchance
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>