<div class="dropdown">
    <button class="btn py-1 px-0 border-0 shadow-none" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="d-flex align-items-center">
            <div class="pe-2 fs-7 text-secondary">
                <i class="fas fa-sort-amount-up-alt"></i>
            </div>
            <div class="ps-0 fs-7 text-secondary">
                Sorting
            </div>
        </div>
    </button>
    <ul class="dropdown-menu rounded-0 mt-1" style="width: 280px;">
        <li>
            <a href="javascript: void();" class="dropdown-item py-2 px-3 fs-7">
                Price (lowest first)
            </a>
        </li>
        <li>
            <a href="javascript: void();" class="dropdown-item py-2 px-3 fs-7">
                Stars (highest first)
            </a>
        </li>
        <li>
            <a href="javascript: void();" class="dropdown-item py-2 px-3 fs-7">
                Stars (lowest first)
            </a>
        </li>
    </ul>
</div>
