<div class="bg-white border rounded-1 mb-3">
    <div class="bg-light">
        <button class="btn border-0 w-100 py-2 px-3 text-start" data-bs-toggle="collapse"
            data-bs-target="#collapseHotel_01" aria-controls="collapseHotel_01">
            <div class="d-flex align-items-center">
                <div class="fs-7 pe-3 text-secondary">
                    <i class="fa-solid fa-bed"></i>
                </div>
                <div class="fs-7 fw-bold text-dark">
                    HTL BANGKOK
                </div>
            </div>
        </button>
    </div>
    <div class="collapse show" id="collapseHotel_01">
        <div>
            <app-guest-in-room></app-guest-in-room>
        </div>
        <div class="p-3 border-top">
            <app-special-request></app-special-request>
        </div>
        <div class="border-top">
            <app-enhancement></app-enhancement>
        </div>
        <div class="p-3 border-top">
            <app-flight-detail></app-flight-detail>
        </div>
    </div>
</div>