<div class="rn-sticky">
    <div class="bg-white border">
        <div class="border-bottom py-3 px-4">
            <div class="fs-7 fw-bold text-dark">
                MY ACCOUNT
            </div>
        </div>
        <div class="py-2 p-lg-0">
            <button class="btn border-0 rounded-0 w-100 py-2 px-3 py-lg-3 px-lg-3 text-start"
                routerLink="/member/my-bookings" routerLinkActive="active">
                <div class="d-flex">
                    <div class="pe-2 fs-7 text-secondary"><i class="fas fa-calendar-check"></i></div>
                    <div class="ps-1 fs-7 text-secondary">My Bookings</div>
                </div>
            </button>
            <button class="btn border-0 rounded-0 w-100 py-2 px-3 py-lg-3 px-lg-3 text-start"
                routerLink="/member/profile" routerLinkActive="active">
                <div class="d-flex">
                    <div class="pe-2 fs-7 text-secondary"><i class="fas fa-address-card"></i></div>
                    <div class="ps-1 fs-7 text-secondary">My profile</div>
                </div>
            </button>
            <button class="btn border-0 rounded-0 w-100 py-2 px-3 py-lg-3 px-lg-3 text-start"
                routerLink="/member/change-password" routerLinkActive="active">
                <div class="d-flex">
                    <div class="pe-2 fs-7 text-secondary"><i class="fas fa-key"></i></div>
                    <div class="ps-1 fs-7 text-secondary">Change password</div>
                </div>
            </button>
            <button class="btn border-0 rounded-0 w-100 py-2 px-3 py-lg-3 px-lg-3 text-start">
                <div class="d-flex">
                    <div class="pe-2 fs-7 text-secondary"><i class="fas fa-power-off"></i></div>
                    <div class="ps-1 fs-7 text-secondary">Sign out</div>
                </div>
            </button>
        </div>
    </div>
</div>