<div class="bg-white border-top">
    <div class="container py-4">



        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="rn-sticky">
                    <div class="pe-lg-4">
                        <div class="pb-2">
                            <div class="pb-2">
                                <app-ttk-shopping-search (onSearch)="searhProduct($event)"></app-ttk-shopping-search>
                            </div>
                        </div>
                        <div class="pb-2">
                            <div>
                                <label class="fs-7 text-secondary">ID Card</label>
                                <input type="text" class="form-control rounded-0 fs-7" [formControl]="idCard"
                                    maxlength="13">
                            </div>
                            <ng-container *ngIf="idCard.invalid && idCard.errors?.['required'] && idCard.touched">
                                <div class="pt-1 text-danger fs-8">
                                    Please enter ID Card
                                </div>
                            </ng-container>
                            <ng-container *ngIf="idCard.invalid && idCard.errors?.['idCard'] && idCard.touched">
                                <div class="pt-1 text-danger fs-8">
                                    Invalid identity card number
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="pb-4">
                    <div class="fs-5 text-title text-dark">
                        Products
                    </div>
                </div>
                <div class="pb-4">
                    <div class="row g-4">
                        <ng-container *ngFor="let product of filteredProducts">
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="h-100 bg-white border rounded">
                                    <div class="fs-7 text-secondary">
                                        <div class="rn-bgcover overflow-hidden rounded-top"
                                            style="background-image: url('{{ product.image }}');">
                                            <img src="/assets/images/image-ratio-4-3.gif" class="w-100">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between">
                                        <div class="col-auto">
                                            <div class="p-3 fs-5 text-dark text-title">
                                                {{ product.name }}
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <div class="p-3 fs-5 text-danger text-title text-end">
                                                {{ product.price | currency: 'USD': true: '2.0-0' }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="px-3 pb-3 fs-8 text-secondary">
                                                {{ product.description }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>

            </div>
        </div>
        <!--
        <div class="form-floating">
            <input type="text" class="form-control rounded-0 fs-7" id="txtIdCard" placeholder="Enter ID Card">
            <label class="fs-7" for="txtIdCard">ID Card</label>
        </div>
        -->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <!--
        <div class="circle-wrap">
            <div class="circle">
                <div class="mask full">
                    <div class="fill"></div>
                </div>
                <div class="mask half">
                    <div class="fill"></div>
                </div>
                <div class="inside-circle text-title">
                    &nbsp;
                </div>
            </div>
        </div>
        -->


        <br>
        <br>
        <br>

    </div>
</div>