<div class="bg-light border-top">
    <div class="container py-4">

        <div class="row g-3">
            <ng-container *ngFor="let item of items | slice:currentPage:itemsPerPage; let i = index">
                <div class="col-6 col-lg-2" [id]="i">
                    <div class="rn-bgcover" style="background-image: url('{{ item.url }}');">
                        <img src="/assets/images/image-ratio-4-3.gif" class="w-100">
                    </div>
                    <div class="py-2">
                        <div class="fs-9 text-secondary text-uppercase">
                            {{ item.title }}
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="py-4">
            <div class="row justify-content-between">
                <div class="col-4 col-lg-2">
                    <button class="btn btn-outline-primary w-100 fs-8 px-4 rounded-0"
                        (click)="previous_page()">
                        Previous
                    </button>
                </div>
                <div class="col-4 col-lg-2">
                    <button class="btn btn-outline-primary w-100 fs-8 px-4 rounded-0" (click)="next_page();">
                        Next
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--
    <div class="bg-light border-top">
    <br>
</div>
<div class="bg-light">

    <div class="pt-4 px-4 text-center fw-bold fs-5">
        หนังสือสัญญาจะซื้อจะขาย
    </div>
    <div class="container py-4">


        <div class="bg-white border-bottom rounded p-4 mb-3">
            <br><br><br><br><br><br>
            <div class="text-secondary text-center">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </div>
            <br><br><br><br><br><br>
        </div>

        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            การชำระเงิน / Payment
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                จำนวนเงิน
                            </div>
                            <div class="input-group">
                                <input type="text" value="" placeholder="0.00" class="form-control">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                เงินมัดจำ
                            </div>
                            <div class="input-group">
                                <input type="text" value="" placeholder="0.00" class="form-control">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ชำระส่วนที่เหลือทั้งหมด
                            </div>
                            <div class="input-group">
                                <input type="text" value="" placeholder="0.00" class="form-control">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                        <div class="pb-3 col-12">
                            <div class="pb-2">
                                <div role="alert" class="alert alert-warning py-2 m-0">
                                    <span class="fs-7 pe-2">
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                    <span class="fs-7">
                                        ผู้จะขายและผู้จะซื้อตกลงซื้อขายทรัพย์ที่จะขายเป็นจำนวนเงินทั้งสิ้น 0.00 บาท ณ
                                        สภาพปัจจุบัน ราคาซื้อขายนี้เป็นการซื้อขายทรัพย์ที่จะขายรวมถึงส่วนควบอุปกรณ์
                                        และเฟอร์นิเจอร์ภายในบ้าน / ห้องชุดตามเอกสารต่อท้ายสัญญานี้
                                        ทั้งนี้ผู้จะซื้อและผู้จะขายตกลงชำระราคาซื้อขายที่ดิน / ห้องชุดที่ซื้อขาย
                                    </span>
                                </div>
                            </div>
                            <div class="pb-2">
                                <div role="alert" class="alert alert-warning py-2 m-0">
                                    <span class="fs-7 pe-2">
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                    <span class="fs-7">
                                        ผู้จะซื้อได้ชำระเงินมัดจำเป็นจำนวน 0.00 บาท ให้แก่ผู้จะขาย ณ
                                        วันที่ทำสัญญาฉบับนี้
                                        ซึ่งผู้จะขายได้รับไว้เรียบร้อยแล้วโดยถือเป็นเงินมัดจำและเป็นส่วนหนึ่งของการชำระราคาค่าทรัพย์ที่จะขาย
                                    </span>
                                </div>
                            </div>
                            <div class="pb-2">
                                <div role="alert" class="alert alert-warning py-2 m-0">
                                    <span class="fs-7 pe-2">
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                    <span class="fs-7">
                                        ผู้จะซื้อตกลงจะชำระส่วนที่เหลือทั้งหมด 0.00 บาท ณ วันโอนกรรมสิทธิ์
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            การโอนกรรมสิทธิ์ / Ownership Assignment
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                โอนกรรมสิทธิ์ในวันที่
                            </div>
                            <div class="input-group">
                                <input type="text" value="14 ธันวาคม 2565" class="form-control">
                                <button class="input-group-text">
                                    <i class="fas fa-calendar-day"></i>
                                </button>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ณ. สำนักงานที่ดิน
                            </div>
                            <div class="input-group">
                                <input type="text" value="สำนักงานที่ดินกรุงเทพมหานคร" class="form-control">
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                สาขา
                            </div>
                            <div class="input-group">
                                <input type="text" value="ห้วยขวาง" class="form-control">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="pb-2">
                                <div role="alert" class="alert alert-warning py-2 m-0">
                                    <span class="fs-7 pe-2">
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                    <span class="fs-7">
                                        จะซื้อและผู้จะขายตกลงจะโอนกรรมสิทธิ์ในทรัพย์ที่จะขายภายในวันที่
                                        {{ '14 ธันวาคม 2565' }}
                                        ณ
                                        {{ 'สำนักงานที่ดินกรุงเทพมหานคร' }}
                                        สาขา
                                        {{ 'ห้วยขวาง' }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="pt-4 px-4 text-center fw-bold fs-5">
        ใบเสนอราคา / Quotation
    </div>
    <div class="container py-4">


        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            ใบเสนอราคา
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="pb-3 col-12 col-md-8">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ชื่อโครงการ / Property Name
                            </div>
                            <div class="input-group">
                                <input type="text" value="ลุมพินี วิวล์" disabled class="form-control">
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ราคา ณ วันที่ / Price at
                            </div>
                            <div class="input-group">
                                <input type="text" value="14 ธันวาคม 2565" class="form-control">
                                <button class="input-group-text"><i class="fas fa-calendar-day"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pb-3 col-12 col-md-8">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ชื่อลูกค้า / Customer Name
                            </div>
                            <div class="input-group">
                                <input type="text" value="" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                อีเมล / E-mail
                            </div>
                            <div class="input-group">
                                <input type="text" value="" class="form-control">
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                โทรศัพท์ / Telephone number
                            </div>
                            <div class="input-group">
                                <input type="text" value="" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="pb-3 col-6 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                Unit Number
                            </div>
                            <div class="input-group">
                                <input type="text" value="" class="form-control">
                            </div>
                        </div>
                        <div class="pb-3 col-6 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ชั้น / Floor
                            </div>
                            <div class="input-group">
                                <input type="text" value="" class="form-control">
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                อาคาร / Building
                            </div>
                            <div class="input-group">
                                <input type="text" value="" class="form-control">
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                พื้นที่ประมาณ / Approximately area
                            </div>
                            <div class="input-group">
                                <input type="text" value="" class="form-control">
                                <span class="input-group-text">Sq.m.</span>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ราคาขาย / Selling Price
                            </div>
                            <div class="input-group">
                                <input type="text" value="" placeholder="0.00" class="form-control">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            การจอง
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                จอง / Booking
                            </div>
                            <div class="input-group">
                                <input type="text" value="" class="form-control">
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                วันที่จอง / Booking Date
                            </div>
                            <div class="input-group">
                                <input type="text" value="14 ธันวาคม 2565" class="form-control" readonly>
                                <button class="input-group-text"><i class="fas fa-calendar-day"></i></button>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate d-none d-md-block">
                                &nbsp;
                            </div>
                            <div class="input-group">
                                <input type="text" value="" placeholder="0.00" class="form-control">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                วันโอน / Transfer Date
                            </div>
                            <div class="input-group">
                                <input type="text" value="" class="form-control" readonly>
                                <button class="input-group-text"><i class="fas fa-calendar-day"></i></button>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                วันที่โอน / Transfer Date
                            </div>
                            <div class="input-group">
                                <input type="text" value="" class="form-control" readonly>
                                <button class="input-group-text"><i class="fas fa-calendar-day"></i></button>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate d-none d-md-block">
                                &nbsp;
                            </div>
                            <div class="input-group">
                                <input type="text" value="" placeholder="0.00" class="form-control">
                                <span class="input-group-text">บาท</span>
                            </div>
                            <div class="pt-3">
                                <div class="pb-1 fs-6 fw-bold text-dark text-truncate">
                                    รวม / Total
                                </div>
                                <div class="input-group">
                                    <input type="text" value="" placeholder="0.00" disabled class="form-control">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>


        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            ค่าใช้จ่ายอื่นๆ
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ค่าจดทะเบียนโอนกรรมสิทธิ์ / Transfer fee
                            </div>
                            <div class="input-group">
                                <input type="text" value="" placeholder="0.00" class="form-control">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ค่าจดทะเบียนจำนอง / Mortgage fee
                            </div>
                            <div class="input-group">
                                <input type="text" value="" placeholder="0.00" class="form-control">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </div>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



    <div class="pt-4 px-4 text-center fw-bold fs-5">
        บันทึกข้อตกลงยืนยันการจองซื้อห้องชุดและการชําระเงิน
    </div>
    <div class="container py-4">
        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            ยืนยันการจอง
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                เจ้าของห้องชุด / The Owner
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" value="นายอีริค คันโตน่า" disabled>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-6">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ผู้จะซื้อ / The Purchaser
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-6">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ชื่อนายหน้า / Name of Agent
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            รายละเอียดทรัพย์สิน
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="pb-3 col-12">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ชื่อโครงการ / Property Name
                            </div>
                            <div class="input-group">
                                <input type="text" value="ลุมพินี วิวล์" disabled class="form-control">
                            </div>
                        </div>
                        <div class="pb-3 col-6 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                Unit Number
                            </div>
                            <div class="input-group">
                                <input type="text" value="B0513" disabled class="form-control">
                            </div>
                        </div>
                        <div class="pb-3 col-6 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ชั้น / Floor
                            </div>
                            <div class="input-group">
                                <input type="text" value="5" disabled class="form-control">
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                พื้นที่ประมาณ / Approximately area
                            </div>
                            <div class="input-group">
                                <input type="text" value="23.5" disabled class="form-control">
                                <span class="input-group-text">Sq.m.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-8">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ที่ตั้ง/Location
                            </div>
                            <div class="input-group">
                                <textarea rows="4" disabled
                                    class="form-control">871/31 ถ.แจ้งวัฒนะ ต.ปากเกร็ด อ.ปากเกร็ด จ.นนทบุรี 11120</textarea>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                จังหวัด
                            </div>
                            <div class="input-group">
                                <input type="text" value="นนทบุรี" disabled class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            รายละเอียดการขาย
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ราคาขาย / Sale Price
                            </div>
                            <div class="input-group">
                                <input type="text" value="1,500,000" class="form-control">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ส่วนลดพิเศษ / Special Discount
                            </div>
                            <div class="input-group">
                                <input type="text" value="20,000" class="form-control">
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                        <div class="pb-3 col-12 col-md-6 col-lg-4">
                            <div class="pb-1 fs-6 text-secondary text-truncate">
                                ราคาขายสุทธิ / Net Price
                            </div>
                            <div class="input-group">
                                <input type="text" value="1,480,000" class="form-control" disabled>
                                <span class="input-group-text">บาท</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="bg-white border-bottom rounded p-4 mb-3">
            <div class="row">
                <div class="col-12 col-lg-2">
                    <div class="pb-3">
                        <div class="fs-6 fw-bold text-dark">
                            ข้อตกลงมีดังนี้
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-10">

                    <div class="pb-4">
                        <div class="row">
                            <div class="pb-3 col-12 col-lg-4">
                                <div class="fs-6 fw-bold text-dark pb-2">
                                    1. เงินจอง / Reservation Fee
                                </div>
                                <div class="fs-7 text-secondary">
                                    - ค่าธรรมเนียมการจองให้ถือเป็นส่วนหนึ่งของการชําระราคาขายทั้งหมด
                                </div>
                                <div class="fs-7 text-secondary">
                                    - The Reservation Fee shall be taken as a part payment of
                                    the total price of the Land
                                </div>
                            </div>
                            <div class="pb-3 col-12 col-lg-4">
                                <div class="pb-1 fs-6 text-secondary text-truncate">
                                    จํานวนเงิน / Amount
                                </div>
                                <div class="input-group">
                                    <input type="text" value="0.00" class="form-control">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                            <div class="pb-3 col-12 col-lg-4">
                                <div class="pb-1 fs-6 text-secondary text-truncate">
                                    หมายเหตุ / Remark
                                </div>
                                <div class="pb-2 input-group">
                                    <input type="text" value="" class="form-control">
                                </div>
                                <div class="pb-2 input-group">
                                    <input type="text" value="" class="form-control">
                                </div>
                                <div class="pb-2 input-group">
                                    <input type="text" value="" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="py-4 border-top">
                        <div class="row">
                            <div class="pb-3 col-12 col-lg-4">
                                <div class="fs-6 fw-bold text-dark pb-2">
                                    2. ยอดเงินที่ชําระให้แก่เจ้าของทรัพย์สิน
                                </div>
                                <div class="fs-7 text-secondary">
                                    - Amount pay to the owner
                                </div>
                            </div>
                            <div class="pb-3 col-12 col-lg-4">
                                <div class="pb-1 fs-6 text-secondary text-truncate">
                                    จํานวนเงิน / Amount
                                </div>
                                <div class="input-group">
                                    <input type="text" value="0.00" class="form-control">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                            <div class="pb-3 col-12 col-lg-4">
                                <div class="pb-1 fs-6 text-secondary text-truncate">
                                    หมายเหตุ / Remark
                                </div>
                                <div class="pb-2 input-group">
                                    <input type="text" value="" class="form-control">
                                </div>
                                <div class="pb-2 input-group">
                                    <input type="text" value="" class="form-control">
                                </div>
                                <div class="pb-2 input-group">
                                    <input type="text" value="" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="py-4 border-top">
                        <div class="row">
                            <div class="pb-3 col-12 col-lg-4">
                                <div class="fs-6 fw-bold text-dark pb-2">
                                    3. ยอดเงินโอนกรรมสิทธิ์กับโครงการฯ
                                </div>
                                <div class="fs-7 text-secondary">
                                    - Amount Transfer Fee pay to the project
                                </div>
                            </div>
                            <div class="pb-3 col-12 col-lg-4">
                                <div class="pb-1 fs-6 text-secondary text-truncate">
                                    จํานวนเงิน / Amount
                                </div>
                                <div class="input-group">
                                    <input type="text" value="0.00" class="form-control">
                                    <span class="input-group-text">บาท</span>
                                </div>
                            </div>
                            <div class="pb-3 col-12 col-lg-4">
                                <div class="pb-1 fs-6 text-secondary text-truncate">
                                    หมายเหตุ / Remark
                                </div>
                                <div class="pb-2 input-group">
                                    <input type="text" value="" class="form-control">
                                </div>
                                <div class="pb-2 input-group">
                                    <input type="text" value="" class="form-control">
                                </div>
                                <div class="pb-2 input-group">
                                    <input type="text" value="" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="container">
        <div class="row justify-content-between pb-4">
            <div class="pb-3 col-5 col-sm-2">
                <button class="btn btn-secondary py-2 fs-6 w-100">
                    ยกเลิก
                </button>
            </div>
            <div class="pb-3 col-7 col-sm-4 col-md-3">
                <button class="btn btn-primary py-2 fs-6 fw-bold w-100">
                    ทำสัญญา
                </button>
            </div>
        </div>
    </div>
</div> -->