
<div class="py-4">
    <div class="container">
        <div class="row gy-2 gx-4 justify-content-center">
            <div class="col-12 col-md-auto text-center">
                <a
                    href="javascript: void(0);"
                    routerLink="/"
                    class="fs-8 text-white text-decoration-none">
                    关于
                </a>
            </div>
            <div class="col-12 col-md-auto text-center">
                <a
                    href="javascript: void(0);"
                    class="fs-8 text-white text-decoration-none">
                    职业发展
                </a>
            </div>
            <div class="col-12 col-md-auto text-center">
                <a
                    href="javascript: void(0);"
                    class="fs-8 text-white text-decoration-none">
                    新闻中心
                </a>
            </div>
            <div class="col-12 col-md-auto text-center">
                <a
                    href="javascript: void(0);"
                    class="fs-8 text-white text-decoration-none">
                    企业责任
                </a>
            </div>
            <div class="col-12 col-md-auto text-center">
                <a
                    href="javascript: void(0);"
                    class="fs-8 text-white text-decoration-none">
                    投资者关系
                </a>
            </div>
            <div class="col-12 col-md-auto text-center">
                <a
                    href="javascript: void(0);"
                    routerLink="/contract"
                    class="fs-8 text-white text-decoration-none">
                    合同
                </a>
            </div>
            <div class="col-12 col-md-auto text-center">
                <a
                    href="javascript: void(0);"
                    routerLink="/help-support"
                    class="fs-8 text-white text-decoration-none">
                    供应链
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center pt-4">
            <div class="col-8">
                <hr class="m-0 p-0 text-white-50">
            </div>
        </div>
        <div class="py-4 text-center fs-9 text-white-50 text-uppercase">
            <div class="pb-1">
                Copyright &copy; 2022. Angular. All Rights Reserved.
            </div>
            <div class="pb-1">
                Powered by 11-Infotech System
            </div>
        </div>
    </div>
</div>
