<div class="bg-light border-top" style="min-height: 520px;">
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-7 col-xl-5">
                <div class="py-4">
                    <div class="pb-2 fs-3 text-title text-dark text-center">
                        Forgot password
                    </div>
                    <div class="pb-4 fs-6 text-secondary text-center">
                        Please enter your email in the box. We will send you a link to access further instructions.
                    </div>
                    <div class="pt-4 fs-7 text-secondary text-start">
                        Email Address
                    </div>
                    <div class="pt-1">
                        <input type="text" class="form-control rounded-1 fs-7" placeholder="email@example.com">
                    </div>
                    <!--
                    <div class="py-1 fs-8 text-danger">
                        Please enter a valid email address
                    </div>
                    -->
                    <div class="py-4">
                        <button class="btn btn-primary rounded-1 w-100 fs-7" routerLink="/hotel/description">
                            Reset password
                        </button>
                    </div>
                    <div>
                        <div class="fs-7 text-secondary">
                            Don't have an account?
                            <a href="javascript: void(0);" routerLink="/signup">
                                Sign up
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>