<div class="pb-2">
    <div class="row g-2">
        <div class="col-12 col-lg-6">
            <div class="h-100 rn-bgcover rounded-1"
                style="background-image: url('https://www.jtbtrip.com/ImageData/Hotel/w22_hotel_by_burasari-general1.jpg');">
                <div class="d-none d-lg-flex"><img src="/assets/images/image-ratio-4-3.gif" class="opacity-0 w-100 h-100"></div>
                <div class="d-flex d-lg-none"><img src="/assets/images/image-ratio-16-9.gif" class="opacity-0 w-100 h-100"></div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row g-2">
                <div class="col-3 col-lg-6">
                    <div class="h-100 rn-bgcover rounded-1"
                        style="background-image: url('https://www.jtbtrip.com/ImageData/Hotel/w22_hotel_by_burasari-general6.jpg');">
                        
                <div class="d-none d-lg-flex"><img src="/assets/images/image-ratio-4-3.gif" class="opacity-0 w-100 h-100"></div>
                <div class="d-flex d-lg-none"><img src="/assets/images/image-ratio-1-1.gif" class="opacity-0 w-100 h-100"></div>
                    </div>
                </div>
                <div class="col-3 col-lg-6">
                    <div class="h-100 rn-bgcover rounded-1"
                        style="background-image: url('https://www.jtbtrip.com/ImageData/Hotel/w22_hotel_by_burasari-general3.jpg');">
                        
                <div class="d-none d-lg-flex"><img src="/assets/images/image-ratio-4-3.gif" class="opacity-0 w-100 h-100"></div>
                <div class="d-flex d-lg-none"><img src="/assets/images/image-ratio-1-1.gif" class="opacity-0 w-100 h-100"></div>
                    </div>
                </div>
                <div class="col-3 col-lg-6">
                    <div class="h-100 rn-bgcover rounded-1"
                        style="background-image: url('https://www.jtbtrip.com/ImageData/Hotel/w22_hotel_by_burasari-general4.jpg');">
                        
                <div class="d-none d-lg-flex"><img src="/assets/images/image-ratio-4-3.gif" class="opacity-0 w-100 h-100"></div>
                <div class="d-flex d-lg-none"><img src="/assets/images/image-ratio-1-1.gif" class="opacity-0 w-100 h-100"></div>
                    </div>
                </div>
                <div class="col-3 col-lg-6">
                    <div class="h-100 rn-bgcover rounded-1 position-relative overflow-hidden"
                        style="background-image: url('https://www.jtbtrip.com/ImageData/Hotel/w22_hotel_by_burasari-general5.jpg');">
                        
                <div class="d-none d-lg-flex"><img src="/assets/images/image-ratio-4-3.gif" class="opacity-0 w-100 h-100"></div>
                <div class="d-flex d-lg-none"><img src="/assets/images/image-ratio-1-1.gif" class="opacity-0 w-100 h-100"></div>
                        <button
                            class="btn position-absolute w-100 h-100 top-0 start-0 d-flex justify-content-center align-item-center"
                            style="background-color: rgba(0, 0, 0, 0.5);">
                            <div class="text-white m-auto">
                                <div class="fs-5 text-center">
                                    <i class="fas fa-images"></i>
                                </div>
                                <div class="fs-8 text-center">
                                    25 Images
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>