<div class="pb-2">
    <div class="row g-2">
        <div class="col-12 col-lg-6">
            <ng-container *ngFor="let gallery of galleries|slice:0:1">
                <div class="h-100 rn-bgcover rounded-1" style="background-image: url('{{ gallery.imgname }}');"
                    data-bs-toggle="modal" data-bs-target="#HotelGalleryModal">
                    <div class="btn d-none d-lg-flex">
                        <img src="/assets/images/image-ratio-4-3.gif" class="opacity-0 w-100 h-100">
                    </div>
                    <div class="btn d-flex d-lg-none">
                        <img src="/assets/images/image-ratio-16-9.gif" class="opacity-0 w-100 h-100">
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row g-2">
                <ng-container *ngFor="let gallery of galleries|slice:1:5; index as i;">
                    <div class="col-3 col-lg-6">
                        <div class="h-100 rn-bgcover rounded-1 position-relative overflow-hidden"
                            style="background-image: url('{{ gallery.imgname }}');" data-bs-toggle="modal"
                            data-bs-target="#HotelGalleryModal">
                            <div class="btn d-none d-lg-flex">
                                <img src="/assets/images/image-ratio-4-3.gif" class="opacity-0 w-100 h-100">
                            </div>
                            <div class="btn d-flex d-lg-none">
                                <img src="/assets/images/image-ratio-1-1.gif" class="opacity-0 w-100 h-100">
                            </div>
                            <ng-container *ngIf="i==3">
                                <button
                                    class="btn position-absolute w-100 h-100 top-0 start-0 d-flex justify-content-center align-item-center"
                                    style="background-color: rgba(0, 0, 0, 0.5);">
                                    <div class="text-white m-auto">
                                        <div class="fs-5 text-center">
                                            <i class="fas fa-images"></i>
                                        </div>
                                        <div class="fs-8 text-center">
                                            {{ galleries.length }} Images
                                        </div>
                                    </div>
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="HotelGalleryModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-fullscreen-xxl-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6 fw-bold">Hotel Gallery</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-1">
                <div class="row g-1">
                    <ng-container *ngFor="let gallery of galleries; index as i;">
                        <div class="col-4 col-lg-3 col-xl-2">
                            <div class="rn-bgcover" style="background-image: url('{{ gallery.imgname }}');">
                                <img src="/assets/images/image-ratio-4-3.gif" class="w-100">
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark fs-8 rounded-1" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>