<div class="bg-dark">
    <div class="container">
        <div class="py-3">
            <button class="btn border-0 shadow-none p-0 d-flex align-items-center" routerLink="/hotel/description">
                <div class="fs-7 pe-2 text-white">
                    <i class="far fa-arrow-alt-circle-left"></i>
                </div>
                <div class="fs-7 text-white">Back</div>
            </button>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container py-4">
        <div class="alert alert-success py-3 px-3" role="alert">
            <div class="d-flex align-items-center">
                <div class="px-2 fs-7"><i class="fas fa-lock"></i></div>
                <div class="d-flex flex-wrap fs-7">
                    <div class="ps-2 fw-bold">Secure hotel booking</div>
                    <div class="ps-2">Act fast pricing may change</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <!-- <app-member-register></app-member-register> -->

                <div class="bg-white border rounded-1 mb-3">
                    <div class="bg-light border-bottom py-2 px-3">
                        <div class="fs-7 fw-bold text-dark">Enter your information</div>
                    </div>
                    <div class="pt-4 pb-2 px-4">
                        <div class="fs-7 text-secondary">
                            Signing in to your account allows for faster bookings and more
                            <a href="javascript:void(0);" class="text-primary fs-7 px-2" data-bs-toggle="modal"
                                data-bs-target="#boxLoginModal">
                                Sign in
                            </a>
                        </div>
                    </div>
                    <div class="pt-2 pb-4 px-4">
                        <app-ttk-signup></app-ttk-signup>
                    </div>
                </div>

                <app-hotel-paxdetail></app-hotel-paxdetail>

            </div>
            <div class="col-12 col-lg-4">
                <app-bookingdetail></app-bookingdetail>
                <app-promocode></app-promocode>
                <app-aggregate></app-aggregate>
            </div>
        </div>
        <div class="bg-white border">
            <div class="p-4">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <div class="pb-2 fs-5 fw-bold text-dark text-center">
                            PAYMENT METHOD
                        </div>
                        <div class="fs-7 text-secondary text-center">
                            By signing in to your account, I acknowledge that I have read and agree to
                            <a href="javascript: void(0);" class="text-nowrap text-secondary">Term and Conditions</a>
                            and
                            <a href="javascript: void(0);" class="text-nowrap text-secondary">Privacy Policy</a>
                        </div>
                    </div>
                </div>
                <div class="py-4 fs-6 fw-bold text-dark text-center">
                    We accept all major credit cards below
                </div>
                <div class="pb-4">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <img src="/assets/images/sample/visa.png" class="img-fluid">
                        </div>
                        <div class="col-auto">
                            <img src="/assets/images/sample/mastercard.png" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="py-2">
                    <div class="row justify-content-center">
                        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
                            <button class="btn btn-success py-2 rounded-1 w-100">
                                <div class="d-flex justify-content-center py-1">
                                    <div class="pe-2 fs-6"><i class="fas fa-lock"></i></div>
                                    <div class="ps-1 fs-6 fw-bold">Proceed booking</div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>