<div class="row g-3">
    <div class="col-12 col-lg-4">
        <div class="bg-white border-bottom rounded h-100 overflow-hidden">
            <div class="hover-zoom-effect overflow-hidden">
                <a class="d-flex rn-bgcover rounded-top overflow-hidden"
                    style="background-image: url('/assets/images/sample/car-6603726_1920.jpg');"
                    href="javascript: void(0);">
                    <div class="d-none d-lg-flex"><img src="/assets/images/image-ratio-4-3.gif" class="w-100"></div>
                    <div class="d-flex d-lg-none"><img src="/assets/images/image-ratio-16-9.gif" class="w-100"></div>
                </a>
            </div>
            <div class="py-3 px-4">
                <div class="pb-2 fs-5 text-dark text-title">
                    Lorem ipsum dolor sit
                </div>
                <div class="pb-2 fs-7 text-secondary">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos officiis, beatae esse amet
                    non, pariatur eligendi doloribus accusantium eveniet facere, qui dolorem ducimus ex
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="bg-white border-bottom rounded h-100 overflow-hidden">
            <div class="hover-zoom-effect overflow-hidden">
                <a class="d-flex rn-bgcover rounded-top"
                    style="background-image: url('/assets/images/sample/peru-641632_1920.jpg');"
                    href="javascript: void(0);">
                    <div class="d-none d-lg-flex"><img src="/assets/images/image-ratio-4-3.gif" class="w-100"></div>
                    <div class="d-flex d-lg-none"><img src="/assets/images/image-ratio-16-9.gif" class="w-100"></div>
                </a>
            </div>
            <div class="py-3 px-4">
                <div class="pb-2 fs-5 text-dark text-title">
                    Repellat amet enim sunt
                </div>
                <div class="pb-2 fs-7 text-secondary">
                    corrupti. Illum, ex assumenda deserunt autem, repellat amet enim sunt necessitatibus
                    exercitationem impedit accusantium voluptates tempora ratione
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="bg-white border-bottom rounded h-100 overflow-hidden">
            <div class="hover-zoom-effect overflow-hidden">
                <a class="d-flex rn-bgcover rounded-top"
                    style="background-image: url('/assets/images/sample/vw-bus-1845719_1920.jpg');"
                    href="javascript: void(0);">
                    <div class="d-none d-lg-flex"><img src="/assets/images/image-ratio-4-3.gif" class="w-100"></div>
                    <div class="d-flex d-lg-none"><img src="/assets/images/image-ratio-16-9.gif" class="w-100"></div>
                </a>
            </div>
            <div class="py-3 px-4">
                <div class="pb-2 fs-5 text-dark text-title">
                    Eos officiis beatae
                </div>
                <div class="pb-2 fs-7 text-secondary">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos officiis, beatae esse amet
                    Iste hic repellat animi cupiditate doloremque impedit iure laboriosam tempore excepturi
                </div>
            </div>
        </div>
    </div>
</div>