<div class="bg-white border rounded-1 mb-3">
    <div class="bg-light border-bottom py-2 px-3">
        <div class="fs-7 fw-bold text-dark">Booking detail</div>
    </div>
    <div class="pt-3 px-3">
        <ng-container>
            <div class="row g-2 mb-4">
                <div class="col-1">
                    <div class="fs-8 text-primary text-center">
                        <i class="fas fa-dot-circle"></i>
                    </div>
                </div>
                <div class="col-11">
                    <div class="pb-0 fs-8 text-secondary">11 November 2022</div>
                    <ng-container>
                        <div class="row pt-2 pb-1">
                            <div class="col-8">
                                <button class="btn border-0 p-0" data-bs-toggle="modal"
                                    data-bs-target="#modalHotelDetail">
                                    <div class="fs-8 text-dark fw-bold text-start">
                                        HTL BANGKOK
                                    </div>
                                </button>
                            </div>
                            <div class="col-4">
                                <div class="text-end">
                                    <button class="btn border-0 p-0 fs-9" data-bs-toggle="modal"
                                        data-bs-target="#modalHotelDetail">
                                        <div class="text-decoration-underline text-primary">
                                            View detail
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <ng-container>
                            <div class="pb-1 fs-8 text-secondary">
                                Superior Mountain View x 1
                            </div>
                            <div class="pb-1 fs-8 text-secondary">
                                One Bedroom Deluxe Double x 1
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>

        <ng-container>
            <div class="row g-2 mb-4">
                <div class="col-1">
                    <div class="fs-8 text-primary text-center">
                        <i class="fas fa-dot-circle"></i>
                    </div>
                </div>
                <div class="col-11">
                    <div class="pb-0 fs-8 text-secondary">12 November 2022</div>
                    <ng-container>
                        <div class="row pt-2 pb-1">
                            <div class="col-8">
                                <button class="btn border-0 p-0" data-bs-toggle="modal"
                                    data-bs-target="#modalHotelDetail">
                                    <div class="fs-8 text-dark fw-bold text-start">
                                        HTL BANGKOK
                                    </div>
                                </button>
                            </div>
                            <div class="col-4">
                                <div class="text-end">
                                    <button class="btn border-0 p-0 fs-9" data-bs-toggle="modal"
                                        data-bs-target="#modalHotelDetail">
                                        <div class="text-decoration-underline text-primary">
                                            View detail
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <ng-container>
                            <div class="pb-1 fs-8 text-secondary">
                                Superior Mountain View x 1
                            </div>
                            <div class="pb-1 fs-8 text-secondary">
                                One Bedroom Deluxe Double x 1
                            </div>
                        </ng-container>
                    </ng-container>

                    <ng-container>
                        <div class="row pt-2 pb-1">
                            <div class="col-8">
                                <div class="pb-1">
                                    <button class="btn border-0 p-0" data-bs-toggle="modal"
                                        data-bs-target="#modalTicket1Detail">
                                        <div class="fs-8 text-dark fw-bold text-start">
                                            HTL BKK Massage & Spa
                                        </div>
                                    </button>
                                </div>
                                <div class="fs-8 text-secondary">3 Adults, 0 Child</div>
                            </div>
                            <div class="col-4">
                                <div class="text-end">
                                    <button class="btn border-0 p-0 fs-9" data-bs-toggle="modal"
                                        data-bs-target="#modalTicket1Detail">
                                        <div class="text-decoration-underline text-primary">
                                            View detail
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <ng-container>
                        <div class="row pt-2 pb-1">
                            <div class="col-8">
                                <div class="pb-1">
                                    <button class="btn border-0 p-0" data-bs-toggle="modal"
                                        data-bs-target="#modalTicket2Detail">
                                        <div class="fs-8 text-dark fw-bold text-start">
                                            HTL BKK Restaurant (Buffet)
                                        </div>
                                    </button>
                                </div>
                                <div class="fs-8 text-secondary">4 Adults, 0 Child</div>
                            </div>
                            <div class="col-4">
                                <div class="text-end">
                                    <button class="btn border-0 p-0 fs-9" data-bs-toggle="modal"
                                        data-bs-target="#modalTicket2Detail">
                                        <div class="text-decoration-underline text-primary">
                                            View detail
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </ng-container>

        <ng-container>
            <div class="row g-2 mb-4">
                <div class="col-1">
                    <div class="fs-8 text-primary text-center">
                        <i class="fas fa-dot-circle"></i>
                    </div>
                </div>
                <div class="col-11">
                    <div class="pb-0 fs-8 text-secondary">13 November 2022</div>
                    <ng-container>
                        <div class="row pt-2 pb-1">
                            <div class="col-8">
                                <button class="btn border-0 p-0" data-bs-toggle="modal"
                                    data-bs-target="#modalHotelDetail">
                                    <div class="fs-8 text-dark fw-bold text-start">
                                        HTL BANGKOK
                                    </div>
                                </button>
                            </div>
                            <div class="col-4">
                                <div class="text-end">
                                    <button class="btn border-0 p-0 fs-9" data-bs-toggle="modal"
                                        data-bs-target="#modalHotelDetail">
                                        <div class="text-decoration-underline text-primary">
                                            View detail
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <ng-container>
                            <div class="pb-1 fs-8 text-secondary">Superior Mountain View</div>
                            <div class="pb-1 fs-8 text-secondary">
                                One Bedroom Deluxe Double
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<!-- HOTEL Modal -->

<div class="modal fade" id="modalHotelDetail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="fs-6 fw-bold text-dark">Hotel Detail</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row g-3">
                        <div class="col-12 col-md-5">
                            <div class="overflow-hidden rounded-1">
                                <img src="https://a0.muscache.com/im/pictures/9592d45a-4fef-4c24-bc35-de32ab16e89c.jpg?im_w=1920"
                                    class="w-100" />
                            </div>
                            <div class="py-2">
                                <div class="bg-danger rounded-1 text-center p-1">
                                    <div class="fs-9 fw-bold text-white">Available</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="pb-2">
                                <div class="fs-6 fw-bold text-dark">
                                    HTL BANGKOK
                                </div>
                            </div>
                            <div class="pb-2">
                                <div class="fs-8 text-secondary">
                                    9/3 Soi Ratchadapisek 18 Ratchadapisek Rd., Huay Kwang Bangkok
                                    10310, Thailand
                                </div>
                            </div>

                            <ng-container>
                                <div class="py-2">
                                    <div class="row align-items-start justify-content-between">
                                        <div class="col-10">
                                            <div class="fs-7 fw-bold text-dark">
                                                Superior Mountain View
                                            </div>
                                            <div class="fs-8 text-secondary">
                                                11 Nov 2022 - 13 Nov 2022, 2 nights
                                            </div>
                                            <div class="pt-2 fs-8 text-primary">
                                                1 x 1,276.70 = THB 1,276.70
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn border-0 shadow-none w-100 p-0">
                                                <div class="fs-9 text-secondary">
                                                    <i class="fas fa-trash"></i>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="py-2">
                                    <div class="row align-items-start justify-content-between">
                                        <div class="col-10">
                                            <div class="fs-7 fw-bold text-dark">
                                                One Bedroom Deluxe Double
                                            </div>
                                            <div class="fs-8 text-secondary">
                                                11 Nov 2022 - 13 Nov 2022, 2 nights
                                            </div>
                                            <div class="pt-2 fs-8 text-primary">
                                                1 x 1,520.00 = THB 1,520.00
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn border-0 shadow-none w-100 p-0">
                                                <div class="fs-9 text-secondary">
                                                    <i class="fas fa-trash"></i>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <ng-container>
                        <div class="pt-3">
                            <div class="bg-light border p-3">
                                <div class="d-flex">
                                    <div class="pe-3">
                                        <div class="fs-7 fw-bold text-danger">
                                            <i class="fas fa-exclamation-circle"></i>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="pb-2 fs-7 fw-bold text-dark">
                                            Superior Mountain View - Apply to all meal type
                                        </div>
                                        <div class="pb-2 fs-8 text-secondary">
                                            01 Nov 2022 to 31 Dec 2023
                                        </div>
                                        <div class="pb-2 fs-8 text-secondary">
                                            You have to cancel 30 day(s) prior to the service date.
                                            Otherwise 1 night per room cancellation charge will be
                                            applied.
                                        </div>
                                        <div class="pb-2 fs-8 text-secondary">
                                            No show - Non Refundable
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container>
                        <div class="pt-3">
                            <div class="bg-light border p-3">
                                <div class="d-flex">
                                    <div class="pe-3">
                                        <div class="fs-7 fw-bold text-danger">
                                            <i class="fas fa-exclamation-circle"></i>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="pb-2 fs-7 fw-bold text-dark">
                                            One Bedroom Deluxe Double - Apply to all meal type
                                        </div>
                                        <div class="pb-2 fs-8 text-secondary">
                                            01 Nov 2022 to 31 Dec 2023
                                        </div>
                                        <div class="pb-2 fs-8 text-secondary">
                                            You have to cancel 30 day(s) prior to the service date.
                                            Otherwise 1 night per room cancellation charge will be
                                            applied.
                                        </div>
                                        <div class="pb-2 fs-8 text-secondary">
                                            No show - Non Refundable
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fs-8 rounded-1" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Ticket #1 Modal -->

<div class="modal fade" id="modalTicket1Detail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="fs-6 fw-bold text-dark">Ticket Detail</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row g-3">
                        <div class="col-12 col-md-5">
                            <div class="overflow-hidden rounded-1">
                                <img src="https://manage.combinetrip.com/ImageData/Place/urban-oasis-spa-general3.jpg"
                                    class="w-100" />
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="pb-2">
                                <div class="fs-6 fw-bold text-dark">HTL BKK Massage & Spa</div>
                            </div>
                            <div class="pb-2">
                                <div class="fs-8 text-secondary">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    Culpa commodi repellat amet maxime aspernatur doloribus
                                    quibusdam qui sit ipsa! Dicta dignissimos eum iure velit
                                    soluta, enim temporibus!
                                </div>
                            </div>

                            <ng-container>
                                <div class="py-2">
                                    <div class="row align-items-start justify-content-between">
                                        <div class="col-10">
                                            <div class="fs-7 fw-bold text-dark">
                                                12 Nov 2022, 14:00 Hrs.
                                            </div>
                                            <div class="pt-2 fs-8 text-primary">
                                                3 Adults x 500.00 = THB 1,500.00
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn border-0 shadow-none w-100 p-0">
                                                <div class="fs-9 text-secondary">
                                                    <i class="fas fa-trash"></i>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <ng-container>
                        <div class="pt-3">
                            <div class="bg-light border p-3">
                                <div class="d-flex">
                                    <div class="pe-3">
                                        <div class="fs-7 fw-bold text-danger">
                                            <i class="fas fa-exclamation-circle"></i>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="pb-2 fs-7 fw-bold text-dark">
                                            Cancellation policy
                                        </div>
                                        <div class="pb-2 fs-8 text-secondary">
                                            01 Nov 2022 to 31 Dec 2023
                                        </div>
                                        <div class="pb-2 fs-8 text-secondary">
                                            You have to cancel 2 day(s) prior to the service date.
                                            Cancellation full charge will be applied.
                                        </div>
                                        <div class="pb-2 fs-8 text-secondary">
                                            No show - Non Refundable
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fs-8 rounded-1" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Ticket #2 Modal -->

<div class="modal fade" id="modalTicket2Detail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="fs-6 fw-bold text-dark">Ticket Detail</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row g-3">
                        <div class="col-12 col-md-5">
                            <div class="overflow-hidden rounded-1">
                                <img src="https://manage.combinetrip.com/imagedata/Place/800/the_raweekanlaya_dining-general1.jpg"
                                    class="w-100" />
                            </div>
                        </div>
                        <div class="col-12 col-md-7">
                            <div class="pb-2">
                                <div class="fs-6 fw-bold text-dark">
                                    HTL BKK Restaurant (Buffet)
                                </div>
                            </div>
                            <div class="pb-2">
                                <div class="fs-8 text-secondary">
                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                                    odit aut fugit, sed quia consequuntur magni dolores eos qui
                                    ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                                    qui dolorem ipsum quia dolor sit amet.
                                </div>
                            </div>
                            <ng-container>
                                <div class="py-2">
                                    <div class="row align-items-start justify-content-between">
                                        <div class="col-10">
                                            <div class="fs-7 fw-bold text-dark">
                                                12 Nov 2022, 18:00 Hrs.
                                            </div>
                                            <div class="pt-2 fs-8 text-primary">
                                                4 Adults x 500.00 = THB 2,000.00
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn border-0 shadow-none w-100 p-0">
                                                <div class="fs-9 text-secondary">
                                                    <i class="fas fa-trash"></i>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <ng-container>
                        <div class="pt-3">
                            <div class="bg-light border p-3">
                                <div class="d-flex">
                                    <div class="pe-3">
                                        <div class="fs-7 fw-bold text-danger">
                                            <i class="fas fa-exclamation-circle"></i>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="pb-2 fs-7 fw-bold text-dark">
                                            Cancellation policy
                                        </div>
                                        <div class="pb-2 fs-8 text-secondary">
                                            01 Nov 2022 to 31 Dec 2023
                                        </div>
                                        <div class="pb-2 fs-8 text-secondary">
                                            You have to cancel 2 day(s) prior to the service date.
                                            Cancellation full charge will be applied.
                                        </div>
                                        <div class="pb-2 fs-8 text-secondary">
                                            No show - Non Refundable
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fs-8 rounded-1" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>