<div class="dropdown">
    <button type="button" id="ddwn" class="btn p-0 border-0 w-100 text-start" data-bs-toggle="dropdown">
        <div class="d-flex">
            <div class="pe-2 fs-8 text-secondary">
                <i class="fas fa-bed"></i>
            </div>
            <div class="ps-1 fs-8 text-dark">
                2 Room, 4 Adults and 1 children
            </div>
        </div>
    </button>
    <div class="dropdown-menu mt-2">
        <div class="py-2 px-4" style="width: 320px;">
            <div class="p-0">
                <div class="row g-0">
                    <div class="col-6">
                        <div class="position-relative">
                            <div class="position-absolute top-0 start-0 w-100 h-100 opacity-0">
                                <input type="text" class="w-100 h-100" readonly>
                            </div>
                            <div class="pb-0 fs-7 fw-bold text-dark">Room</div>
                            <div class="pb-2 fs-9 text-secondary">Maximum 5 rooms</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0">
                            <div class="col-3">
                                <input type="button" class="btn border-0 ounded-0 w-100 h-100 p-0 opacity-100 rn-minus" value="&nbsp;" readonly>
                            </div>
                            <div class="col-6">
                                <input type="text" class="btn border-0 fs-6 py-1 px-2 w-100 fw-bold p-0" value="2" readonly>
                            </div>
                            <div class="col-3">
                                <input type="button" class="btn border-0 ounded-0 w-100 h-100 p-0 rn-plus" value="&nbsp;" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="border-top">
                <div class="position-relative">
                    <div class="position-absolute top-0 start-0 w-100 h-100 opacity-0">
                        <input type="text" class="w-100 h-100" readonly>
                    </div>
                    <div class="py-2 fs-9 text-secondary">Room #1</div>
                </div>
                <div class="row g-0">
                    <div class="col-6">
                        <div class="position-relative">
                            <div class="position-absolute top-0 start-0 w-100 h-100 opacity-0">
                                <input type="text" class="w-100 h-100" readonly>
                            </div>
                            <div class="pt-1 pb-0 fs-7 fw-bold text-dark">Adults</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0">
                            <div class="col-3">
                                <input type="button" class="btn border-0 ounded-0 w-100 h-100 p-0 opacity-100 rn-minus" value="&nbsp;" readonly>
                            </div>
                            <div class="col-6">
                                <input type="text" class="btn border-0 fs-6 py-1 px-2 w-100 fw-bold p-0" value="2"
                                    readonly>
                            </div>
                            <div class="col-3">
                                <input type="button" class="btn border-0 ounded-0 w-100 h-100 p-0 rn-plus" value="&nbsp;" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-6">
                        <div class="position-relative">
                            <div class="position-absolute top-0 start-0 w-100 h-100 opacity-0">
                                <input type="text" class="w-100 h-100" readonly>
                            </div>
                            <div class="pt-1 pb-3 fs-7 fw-bold text-dark">Children</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0">
                            <div class="col-3">
                                <input type="button" class="btn border-0 ounded-0 w-100 h-100 p-0 opacity-25 rn-minus" value="&nbsp;" readonly>
                            </div>
                            <div class="col-6">
                                <input type="text" class="btn border-0 fs-6 py-1 px-2 w-100 fw-bold p-0" value="0"
                                    readonly>
                            </div>
                            <div class="col-3">
                                <input type="button" class="btn border-0 ounded-0 w-100 h-100 p-0 rn-plus" value="&nbsp;" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top">
                <div class="position-relative">
                    <div class="position-absolute top-0 start-0 w-100 h-100 opacity-0">
                        <input type="text" class="w-100 h-100" readonly>
                    </div>
                    <div class="py-2 fs-9 text-secondary">Room #2</div>
                </div>
                <div class="row g-0">
                    <div class="col-6">
                        <div class="position-relative">
                            <div class="position-absolute top-0 start-0 w-100 h-100 opacity-0">
                                <input type="text" class="w-100 h-100" readonly>
                            </div>
                            <div class="pt-1 pb-0 fs-7 fw-bold text-dark">Adults</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0">
                            <div class="col-3">
                                <input type="button" class="btn border-0 ounded-0 w-100 h-100 p-0 opacity-100 rn-minus" value="&nbsp;" readonly>
                            </div>
                            <div class="col-6">
                                <input type="text" class="btn border-0 fs-6 py-1 px-2 w-100 fw-bold p-0" value="2"
                                    readonly>
                            </div>
                            <div class="col-3">
                                <input type="button" class="btn border-0 ounded-0 w-100 h-100 p-0 rn-plus" value="&nbsp;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-6">
                        <div class="position-relative">
                            <div class="position-absolute top-0 start-0 w-100 h-100 opacity-0">
                                <input type="text" class="w-100 h-100" readonly>
                            </div>
                            <div class="pt-1 pb-3 fs-7 fw-bold text-dark">Children</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0">
                            <div class="col-3">
                                <input type="button" class="btn border-0 ounded-0 w-100 h-100 p-0 rn-minus" value="&nbsp;" readonly>
                            </div>
                            <div class="col-6">
                                <input type="text" class="btn border-0 fs-6 py-1 px-2 w-100 fw-bold p-0" value="1"
                                    readonly>
                            </div>
                            <div class="col-3">
                                <input type="button" class="btn border-0 ounded-0 w-100 h-100 p-0 rn-plus" value="&nbsp;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-6">
                        <div class="position-relative">
                            <div class="position-absolute top-0 start-0 w-100 h-100 opacity-0">
                                <input type="text" class="w-100 h-100" readonly>
                            </div>
                            <div class="pt-1 pb-3 fs-7 fw-bold text-dark">Child 1: Age</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row g-0">
                            <div class="col-3">
                                <input type="button" class="btn border-0 ounded-0 w-100 h-100 p-0 opacity-100 rn-minus" value="&nbsp;">
                            </div>
                            <div class="col-6">
                                <input type="text" class="btn border-0 fs-6 py-1 px-2 w-100 fw-bold p-0" value="4" readonly>
                            </div>
                            <div class="col-3">
                                <input type="button" class="btn border-0 ounded-0 w-100 h-100 p-0 rn-plus" value="&nbsp;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>