.rn-minus, .rn-plus {
    background-repeat: no-repeat;
    background-position: center;
}

.rn-minus {
    background-image: url('/assets/images/icon-minus.svg');
}

.rn-plus {
    background-image: url('/assets/images/icon-plus.svg');
}