<div class="bg-white border-top">
    <div class="container">
        <div class="py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="javascript: void(0);" routerLink="/" class="fs-8 text-decoration-none">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="javascript: void(0);" class="fs-8 text-secondary text-decoration-none">
                            Member
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="bg-light border-top">
    <div class="container py-4">

        <div class="pb-3 fs-5 fw-bold text-title">
            My account
        </div>
        <div class="row g-4">
            <div class="col-12 col-lg-8 col-xl-6">
                <div class="bg-white border h-100">
                    <div class="p-3">
                        <div class="mb-3 row g-2 justify-content-between">
                            <div class="col-auto">
                                <div class="fs-6 fw-bold text-dark">
                                    Account information
                                </div>
                            </div>
                            <div class="col-auto">
                                <a href="javascript: void(0);" routerLink="/member/profile" class="fs-7">
                                    Edit
                                </a>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap py-2 py-md-1">
                            <div class="col-12 col-md-5 col-lg-4">
                                <div class="fs-7 text-secondary">
                                    Name
                                </div>
                            </div>
                            <div class="col-12 col-md-7 col-lg-8">
                                <div class="fs-7 text-dark">
                                    Lionel Messi
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap py-2 py-md-1">
                            <div class="col-12 col-md-5 col-lg-4">
                                <div class="fs-7 text-secondary">
                                    country residence
                                </div>
                            </div>
                            <div class="col-12 col-md-7 col-lg-8">
                                <div class="fs-7 text-dark">
                                    Argentina
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap py-2 py-md-1">
                            <div class="col-12 col-md-5 col-lg-4">
                                <div class="fs-7 text-secondary">
                                    Phone number
                                </div>
                            </div>
                            <div class="col-12 col-md-7 col-lg-8">
                                <div class="fs-7 text-dark">
                                    0860408205
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap py-2 py-md-1">
                            <div class="col-12 col-md-5 col-lg-4">
                                <div class="fs-7 text-secondary">
                                    e-mail
                                </div>
                            </div>
                            <div class="col-12 col-md-7 col-lg-8">
                                <div class="fs-7 text-dark">
                                    nirun@hotmail.com
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 col-xl-6">
                <div class="bg-white border h-100">
                    <div class="p-3">
                        <div class="mb-3 row g-2 justify-content-between">
                            <div class="col-auto">
                                <div class="fs-6 fw-bold text-dark">
                                    Your bookings
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="col-auto">
                                    <a href="javascript: void(0);" routerLink="/member/my-bookings" class="fs-7">
                                        View
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-8 col-xl-6">
                <div class="bg-white border h-100">
                    <div class="p-3">
                        <div class="mb-3 row g-2 justify-content-between">
                            <div class="col-auto">
                                <div class="fs-6 fw-bold text-dark">
                                    Address information
                                </div>
                            </div>
                            <div class="col-auto">
                                <a href="javascript: void(0);" routerLink="/member/profile" class="fs-7">
                                    Edit
                                </a>
                            </div>
                        </div>
                        <div class="p-4">
                            <div class="py-4 fs-7 text-secondary text-center">
                                Information in this section have no data
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 col-xl-3">
                <div class="bg-white border h-100">
                    <div class="p-3">
                        <div class="mb-3 row g-2 justify-content-between">
                            <div class="col-auto">
                                <div class="fs-6 fw-bold text-dark">
                                    What is this?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 col-xl-3">
                <div class="bg-white border h-100">
                    <div class="p-3">
                        <div class="mb-3 row g-2 justify-content-between">
                            <div class="col-auto">
                                <div class="fs-6 fw-bold text-dark">
                                    What is this?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>