<div class="border-top border-3 border-primary">
    <ng-container *ngFor="let user of users">
        <div class="border-top border-1">
            <div class="row">
                <div class="col-4 col-lg-2 py-3">
                    <button class="btn p-0 rounded-1 border-0 shadow-none rn-bgcover" data-bs-toggle="modal"
                        data-bs-target="#roomDetailModal"
                        style="background-image:url('https://www.jtbtrip.com/ImageData/Hotel/w22_hotel_by_burasari-room2.jpg');">
                        <img src="https://b2bpremium.travflex.com/assets/images/image-ratio-4-3.gif" class="w-100" />
                    </button>
                </div>
                <div class="col-8 col-md-8 col-lg-5 py-3">
                    <div class="pb-3 fs-6 fw-bold text-dark">
                        One Bedroom Deluxe Double
                    </div>

                    <div class="row g-2">
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="fs-7 text-secondary">Room Only</div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="fs-7 text-secondary">Children</div>
                        </div>
                        <div class="col-12 col-xl-4">
                            <div class="fs-7 text-secondary">Promotions</div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="bg-light h-100 py-3 px-4">
                        <div class="pb-2 fs-7 fw-bold text-danger">
                            <div class="d-flex">
                                <div class="pe-2">
                                    <i class="fas fa-exclamation-circle"></i>
                                </div>
                                <div>Cancellation Policy</div>
                            </div>
                        </div>
                        <div class="pb-2 fs-8 text-secondary">
                            Free cancellation before
                            <span class="text-nowrap">21 October 2022</span> (Cheapest offer)
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-2">
                    <div class="row justify-content-between">
                        <div class="py-3 col-auto col-lg-12">
                            <div class="d-flex justify-content-end">
                                <div class="col-auto">
                                    <div class="bg-danger py-1 px-2 rounded-1">
                                        <div class="fs-9 fw-bodl text-white">SAVE 67% TODAY</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto col-lg-12">
                            <div class="text-end pt-3 pt-md-0 pb-3">
                                <div class="fs-7 text-secondary text-decoration-line-through">
                                    THB 2,000
                                </div>
                                <div class="fs-4 text-dark fw-bold text-title">
                                    <small class="fs-5">THB</small> 657
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pb-3">
                        <div>
                            <button class="btn btn-primary rounded-1 w-100 fs-8 fw-bold py-2" routerLink="/paxdetail">
                                Reserve
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<div class="modal fade" id="roomDetailModal" tabindex="-1" aria-labelledby="roomDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="fs-6 fw-bold text-dark">Room category</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-12 col-lg-7">
                        <div id="carouselRoomCategory" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="overflow-hidden rounded-1 rn-bgcover"
                                        style="background-image:url('https://www.jtbtrip.com/ImageData/Hotel/w22_hotel_by_burasari-room2.jpg');">
                                        <img src="https://b2bpremium.travflex.com/assets/images/image-ratio-4-3.gif"
                                            class="w-100" />
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="overflow-hidden rounded-1 rn-bgcover"
                                        style="background-image:url('https://www.jtbtrip.com/ImageData/Hotel/w22_hotel_by_burasari-room1.jpg');">
                                        <img src="https://b2bpremium.travflex.com/assets/images/image-ratio-4-3.gif"
                                            class="w-100" />
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="overflow-hidden rounded-1 rn-bgcover"
                                        style="background-image:url('https://www.jtbtrip.com/ImageData/Hotel/w22_hotel_by_burasari-room3.jpg');">
                                        <img src="https://b2bpremium.travflex.com/assets/images/image-ratio-4-3.gif"
                                            class="w-100" />
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselRoomCategory"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselRoomCategory"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="pb-3">
                            <div class="pb-2 fs-6 fw-bold text-dark">
                                One Bedroom Deluxe Double
                            </div>
                            <div class="fs-7 text-secondary">
                                Indulge in a modern stylish room decorated in a vibrant essence
                                red tone color, which gives a light, internal cheer-up feeling
                                will make you feel comfortable during your stay in Patong.
                            </div>
                        </div>

                        <div class="pb-3">
                            <div class="pb-2 fs-7 fw-bold text-dark">Amenities</div>
                            <div class="fs-7 text-secondary">
                                Air conditioned Cable/Satellite TV Room Safe Television Wireless
                                Internet Telephone Hairdryer
                            </div>
                        </div>

                        <div class="py-3">
                            <div class="row g-2 pb-3">
                                <div class="col-12 col-md-6">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-8 text-secondary pe-3">
                                            <i class="fas fa-wifi"></i>
                                        </div>
                                        <div class="fs-8 text-secondary">Free Wifi</div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-8 text-secondary pe-3">
                                            <i class="fas fa-smoking-ban"></i>
                                        </div>
                                        <div class="fs-8 text-secondary">Non Smoking Room</div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-8 text-secondary pe-3">
                                            <i class="fas fa-bed"></i>
                                        </div>
                                        <div class="fs-8 text-secondary">2 Single Bed</div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-8 text-secondary pe-3">
                                            <i class="fas fa-bed"></i>
                                        </div>
                                        <div class="fs-8 text-secondary">1 King Bed</div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-8 text-secondary pe-3">
                                            <i class="fas fa-expand"></i>
                                        </div>
                                        <div class="fs-8 text-secondary">Room Size (sqm): 27</div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="d-flex align-items-center">
                                        <div class="fs-8 text-secondary pe-3">
                                            <i class="fas fa-vector-square"></i>
                                        </div>
                                        <div class="fs-8 text-secondary">With Balcony/Terrace</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary fs-7 shadow-none" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>