<div class="rn-bgcover" style="background-image: url('/assets/images/banners/pool-bar-3652849_1920.jpg');">
    <div class="d-flex flex-column py-4" style="
            background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
            min-height: 780px;
        ">
        <div class="container py-4">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-9">
                    <div class="pb-4 text-center text-title fs-2 text-white">
                        Specific Travel Dates
                    </div>
                    <app-search-hotels></app-search-hotels>
                </div>
            </div>
        </div>
        <div class="container mt-auto">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
                    <div class="text-white text-center">
                        <div class="h2 text-title">
                            Share Holiday Joy
                        </div>
                        <div class="fs-5">
                            Give the gift of unforgettable experiences with Tours & Activities.
                        </div>
                        <div class="py-4">
                            <button class="btn btn-outline-light py-2 px-4 rounded-1 fs-6 text-title">
                                Book now
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-light">
    <div class="container py-4">
        <div class="py-4 text-center">
            <div class="fs-2 text-title text-dark">
                DISCOVER THE CONSEQUNT
            </div>
            <div class="pb-4 fs-5 text-title text-secondary">
                Maiores iste odio nostrum consequuntur nesciunt dignissimos vel nihil
            </div>
        </div>
        <div class="pb-4">


            <app-carousel-cdk></app-carousel-cdk>

            <div class="row g-3">
                <div class="col-12 col-lg-4">
                    <div class="bg-white border-bottom rounded h-100 overflow-hidden">
                        <div class="hover-zoom-effect">
                            <a class="d-flex rn-bgcover rounded-top"
                                style="background-image: url('/assets/images/sample/car-6603726_1920.jpg');"
                                href="javascript: void(0);">
                                <div class="d-none d-lg-flex"><img src="/assets/images/image-ratio-4-3.gif"
                                        class="w-100"></div>
                                <div class="d-flex d-lg-none"><img src="/assets/images/image-ratio-16-9.gif"
                                        class="w-100"></div>
                            </a>
                        </div>
                        <div class="py-3 px-4">
                            <div class="pb-2 fs-5 text-dark text-title">
                                Lorem ipsum dolor sit
                            </div>
                            <div class="pb-2 fs-7 text-secondary">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos officiis, beatae esse amet
                                non, pariatur eligendi doloribus accusantium eveniet facere, qui dolorem ducimus ex
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="bg-white border-bottom rounded h-100 overflow-hidden">
                        <div class="hover-zoom-effect">
                            <a class="d-flex rn-bgcover rounded-top"
                                style="background-image: url('/assets/images/sample/peru-641632_1920.jpg');"
                                href="javascript: void(0);">
                                <div class="d-none d-lg-flex"><img src="/assets/images/image-ratio-4-3.gif"
                                        class="w-100"></div>
                                <div class="d-flex d-lg-none"><img src="/assets/images/image-ratio-16-9.gif"
                                        class="w-100"></div>
                            </a>
                        </div>
                        <div class="py-3 px-4">
                            <div class="pb-2 fs-5 text-dark text-title">
                                Repellat amet enim sunt
                            </div>
                            <div class="pb-2 fs-7 text-secondary">
                                corrupti. Illum, ex assumenda deserunt autem, repellat amet enim sunt necessitatibus
                                exercitationem impedit accusantium voluptates tempora ratione
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="bg-white border-bottom rounded h-100 overflow-hidden">
                        <div class="hover-zoom-effect">
                            <a class="d-flex rn-bgcover rounded-top"
                                style="background-image: url('/assets/images/sample/vw-bus-1845719_1920.jpg');"
                                href="javascript: void(0);">
                                <div class="d-none d-lg-flex"><img src="/assets/images/image-ratio-4-3.gif"
                                        class="w-100"></div>
                                <div class="d-flex d-lg-none"><img src="/assets/images/image-ratio-16-9.gif"
                                        class="w-100"></div>
                            </a>
                        </div>
                        <div class="py-3 px-4">
                            <div class="pb-2 fs-5 text-dark text-title">
                                Eos officiis beatae
                            </div>
                            <div class="pb-2 fs-7 text-secondary">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos officiis, beatae esse amet
                                Iste hic repellat animi cupiditate doloremque impedit iure laboriosam tempore excepturi
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="py-4">
            <div>
                <div class="py-4">
                    <h2 class="text-title text-dark">What guests are saying about homes</h2>
                    <p class="fs-6 text-secondary">Over 660,000 guest reviews with an average of 4.7 out of 5 stars</p>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-lg-4 ">
                        <div class="bg-secondary overflow-hidden rounded-3 hover-zoom-effect">
                            <a href="javascript: void(0);" class="d-block rn-bgcover" style="
                                    background-image: url('https://a0.muscache.com/im/pictures/0ce799cb-7553-4369-be9e-d0011e0ef636.jpg?im_w=480');
                                ">
                                <img src="/assets/images/image-ratio-4-3.gif" class="img-fluid">
                            </a>
                        </div>
                        <div class="pt-3 pb-4">
                            <div class="fs-6 text-dark fw-bold">
                                Hic velit dolorum amet saepe totam
                            </div>
                            <div class="fs-8 text-secondary">
                                Bangkok, Thailanda odio?
                            </div>

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-4 ">
                        <div class="bg-secondary overflow-hidden rounded-3 hover-zoom-effect">
                            <a href="javascript: void(0);" class="d-block rn-bgcover" style="
                                    background-image: url('https://a0.muscache.com/im/pictures/ad109d56-2421-40cd-98e6-e114160dc85b.jpg?im_w=480');
                                ">
                                <img src="/assets/images/image-ratio-4-3.gif" class="img-fluid">
                            </a>
                        </div>
                        <div class="pt-3 pb-4">
                            <div class="fs-6 text-dark fw-bold">
                                Perspiciatis blanditiis sint </div>
                            <div class="fs-8 text-secondary">
                                Bangkok, Thailand
                            </div> <!--
                            <div class="pt-3">
                                <button class="btn py-2 fw-bold px-4 btn-primary">
                                    <i class="fas fa-search"></i>
                                    <span class="ps-2">Learn more</span>
                                </button>
                            </div>
                             -->
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-4 ">
                        <div class="bg-secondary overflow-hidden rounded-3 hover-zoom-effect">
                            <a href="javascript: void(0);" class="d-block rn-bgcover" style="
                                    background-image: url('https://a0.muscache.com/im/pictures/7d82ca14-56e5-4465-8218-dcfa7d69b6ac.jpg?im_w=480');
                                ">
                                <img src="/assets/images/image-ratio-4-3.gif" class="img-fluid">
                            </a>
                        </div>
                        <div class="pt-3 pb-4">
                            <div class="fs-6 text-dark fw-bold">
                                Totam adipisicing elit </div>
                            <div class="fs-8 text-secondary">
                                Bangkok, Thailand
                            </div> <!--
                            <div class="pt-3">
                                <button class="btn py-2 fw-bold px-4 btn-primary">
                                    <i class="fas fa-search"></i>
                                    <span class="ps-2">Learn more</span>
                                </button>
                            </div>
                             -->
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-4 d-block d-lg-none">
                        <div class="bg-secondary overflow-hidden rounded-3 hover-zoom-effect">
                            <a href="javascript: void(0);" class="d-block rn-bgcover" style="
                                    background-image: url('https://a0.muscache.com/im/pictures/2f13349d-879d-43c6-83e3-8e5679291d53.jpg?im_w=480');
                                ">
                                <img src="/assets/images/image-ratio-4-3.gif" class="img-fluid">
                            </a>
                        </div>
                        <div class="pt-3 pb-4">
                            <div class="fs-6 text-dark fw-bold">
                                Expedita nobis qui </div>
                            <div class="fs-8 text-secondary">
                                Bangkok, Thailand
                            </div> <!--
                            <div class="pt-3">
                                <button class="btn py-2 fw-bold px-4 btn-primary">
                                    <i class="fas fa-search"></i>
                                    <span class="ps-2">Learn more</span>
                                </button>
                            </div>
                             -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="py-4">
            <div class="bg-rn-secondary overflow-hidden rounded-3">
                <div class="row">
                    <div class="col-12 col-lg-5 rn-md-order-2">
                        <div class="p-4 p-xl-5">
                            <div class="pb-2 fs-1 fw-bold text-white">
                                Try hosting
                            </div>
                            <div class="pb-2 fs-6 text-white">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Doloribus dolor eum consectetur laboriosam recusandae
                                veniam debitis neque?
                            </div>
                            <div class="py-3">
                                <a href="javascript: void(0);"
                                    class="btn bg-white py-2 px-4 text-dark fw-bold text-decoration-none">
                                    Learn more
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 rn-md-order-1">
                        <div class="position-relative h-100" style="
                                background-image: url('https://cdn.pixabay.com/photo/2016/11/08/05/08/adult-1807500_960_720.jpg');
                                background-repeat: no-repeat;
                                background-position: left top;
                                background-size: cover;
                            ">
                            <div class="d-none d-lg-block position-absolute top-0 start-0 w-100 h-100"
                                style="background: linear-gradient(90deg, rgba(247,148,29,1) 0%, rgba(247,148,29,0.9) 12%, rgba(247,148,29,0) 50%);">
                            </div>
                            <img src="/assets/images/image-ratio-16-9.gif" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="py-4">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="bg-secondary overflow-hidden rounded-3 hover-zoom-effect">
                        <a href="javascript: void(0);" class="d-block rn-bgcover"
                            style="background-image: url('https://a0.muscache.com/im/pictures/d112554e-5cd9-413b-bca6-4296931952a0.jpg?im_w=480');">
                            <img src="/assets/images/image-ratio-4-3.gif" class="img-fluid">
                        </a>
                    </div>
                    <div class="pt-3 pb-4">
                        <div class="fs-6 text-dark fw-bold">
                            Hic velit dolorum amet
                        </div>
                        <div class="fs-8 text-secondary">
                            Bangkok, Thailand
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="bg-secondary overflow-hidden rounded-3 hover-zoom-effect">
                        <a href="javascript: void(0);" class="d-block rn-bgcover"
                            style="background-image: url('https://a0.muscache.com/im/pictures/bb15bc18-c6e5-4878-be63-19667481b733.jpg?im_w=480');">
                            <img src="/assets/images/image-ratio-4-3.gif" class="img-fluid">
                        </a>
                    </div>
                    <div class="pt-3 pb-4">
                        <div class="fs-6 text-dark fw-bold">
                            Perspiciatis sint
                        </div>
                        <div class="fs-8 text-secondary">
                            Bangkok, Thailand
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="bg-secondary overflow-hidden rounded-3 hover-zoom-effect">
                        <a href="javascript: void(0);" class="d-block rn-bgcover"
                            style="background-image: url('https://a0.muscache.com/im/pictures/2c74ad64-2874-429d-a1a4-85cad40efe50.jpg?im_w=480');">
                            <img src="/assets/images/image-ratio-4-3.gif" class="img-fluid">
                        </a>
                    </div>
                    <div class="pt-3 pb-4">
                        <div class="fs-6 text-dark fw-bold">
                            Totam adipisicing
                        </div>
                        <div class="fs-8 text-secondary">
                            Bangkok, Thailand
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="bg-secondary overflow-hidden rounded-3 hover-zoom-effect">
                        <a href="javascript: void(0);" class="d-block rn-bgcover"
                            style="background-image: url('https://a0.muscache.com/im/pictures/c8019dd5-a489-4b8c-9613-62361e05af83.jpg?im_w=480');">
                            <img src="/assets/images/image-ratio-4-3.gif" class="img-fluid">
                        </a>
                    </div>
                    <div class="pt-3 pb-4">
                        <div class="fs-6 text-dark fw-bold">
                            Expedita qui
                        </div>
                        <div class="fs-8 text-secondary">
                            Bangkok, Thailand
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="bg-secondary overflow-hidden rounded-3 hover-zoom-effect">
                        <a href="javascript: void(0);" class="d-block rn-bgcover"
                            style="background-image: url('https://a0.muscache.com/im/pictures/30af0c0e-fe09-42a1-85f8-b45b51549404.jpg?im_w=480');">
                            <img src="/assets/images/image-ratio-4-3.gif" class="img-fluid">
                        </a>
                    </div>
                    <div class="pt-3 pb-4">
                        <div class="fs-6 text-dark fw-bold">
                            Hic velit totam
                        </div>
                        <div class="fs-8 text-secondary">
                            Bangkok, Thailand
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="bg-secondary overflow-hidden rounded-3 hover-zoom-effect">
                        <a href="javascript: void(0);" class="d-block rn-bgcover"
                            style="background-image: url('https://a0.muscache.com/im/pictures/376c23b7-131c-43ef-b400-21e5ce5e5434.jpg?im_w=480');">
                            <img src="/assets/images/image-ratio-4-3.gif" class="img-fluid">
                        </a>
                    </div>
                    <div class="pt-3 pb-4">
                        <div class="fs-6 text-dark fw-bold">
                            Nobis qui
                        </div>
                        <div class="fs-8 text-secondary">
                            Bangkok, Thailand
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-block d-xl-none">
                    <div class="bg-secondary overflow-hidden rounded-3 hover-zoom-effect">
                        <a href="javascript: void(0);" class="d-block rn-bgcover"
                            style="background-image: url('https://a0.muscache.com/im/pictures/dcdbac8e-873b-4ff7-9c15-0b02dc7bab0d.jpg?im_w=480');">
                            <img src="/assets/images/image-ratio-4-3.gif" class="img-fluid">
                        </a>
                    </div>
                    <div class="pt-3 pb-4">
                        <div class="fs-6 text-dark fw-bold">
                            Saepe totam
                        </div>
                        <div class="fs-8 text-secondary">
                            Bangkok, Thailand
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 d-block d-xl-none">
                    <div class="bg-secondary overflow-hidden rounded-3 hover-zoom-effect">
                        <a href="javascript: void(0);" class="d-block rn-bgcover"
                            style="background-image: url('https://a0.muscache.com/im/pictures/c6bf014e-039d-4994-b634-f135067845ba.jpg?im_w=480');">
                            <img src="/assets/images/image-ratio-4-3.gif" class="img-fluid">
                        </a>
                    </div>
                    <div class="pt-3 pb-4">
                        <div class="fs-6 text-dark fw-bold">
                            Expedita nobis
                        </div>
                        <div class="fs-8 text-secondary">
                            Bangkok, Thailand
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white">
    <div class="container py-4">
        <div class="pb-4 text-center">
            <div class="fs-2 text-dark text-title text-uppercase">Explore HTL</div>
            <div class="fs-6 text-secondary"> These popular destinations have a lot to offer
            </div>
        </div>
        <div class="py-4 d-flex justify-content-center">
            <div class="col-11 col-lg-8">
                <div class="row justify-content-center">
                    <div class="pb-3 col-4 col-sm-2">
                        <button class="btn border-0 p-0 bg-white rounded-circle overflow-hidden rn-bgcover"
                            style="background-image: url('https://pix6.agoda.net/geo/city/9395/1_9395_02.jpg');">
                            <img src="https://b2bpremium.travflex.com/assets/images/image-ratio-1-1.gif" class="w-100">
                        </button>
                        <button class="btn border-0 w-100 p-0 shadow-none">
                            <div class="pt-3 pb-1 fs-8 fw-bold text-dark text-truncate text-center"> Bangkok </div>
                            <div class="text-center pb-2 fs-9 text-secondary"> 17 hotels </div>
                        </button>
                    </div>
                    <div class="pb-3 col-4 col-sm-2">
                        <button class="btn border-0 p-0 bg-white rounded-circle overflow-hidden rn-bgcover"
                            style="background-image: url('https://pix6.agoda.net/geo/city/8584/1_8584_02.jpg');">
                            <img src="https://b2bpremium.travflex.com/assets/images/image-ratio-1-1.gif" class="w-100">
                        </button>
                        <button class="btn border-0 w-100 p-0 shadow-none">
                            <div class="pt-3 pb-1 fs-8 fw-bold text-dark text-truncate text-center"> Pattaya </div>
                            <div class="text-center pb-2 fs-9 text-secondary"> 9 hotels </div>
                        </button>
                    </div>
                    <div class="pb-3 col-4 col-sm-2">
                        <button class="btn border-0 p-0 bg-white rounded-circle overflow-hidden rn-bgcover"
                            style="background-image: url('https://pix6.agoda.net/geo/city/7401/1_7401_02.jpg');">
                            <img src="https://b2bpremium.travflex.com/assets/images/image-ratio-1-1.gif" class="w-100">
                        </button>
                        <button class="btn border-0 w-100 p-0 shadow-none">
                            <div class="pt-3 pb-1 fs-8 fw-bold text-dark text-truncate text-center"> Chiang Mai </div>
                            <div class="text-center pb-2 fs-9 text-secondary"> 12 hotels </div>
                        </button>
                    </div>
                    <div class="pb-3 col-4 col-sm-2">
                        <button class="btn border-0 p-0 bg-white rounded-circle overflow-hidden rn-bgcover"
                            style="background-image: url('https://pix6.agoda.net/geo/city/17019/1_17019_02.jpg');">
                            <img src="https://b2bpremium.travflex.com/assets/images/image-ratio-1-1.gif" class="w-100">
                        </button>
                        <button class="btn border-0 w-100 p-0 shadow-none">
                            <div class="pt-3 pb-1 fs-8 fw-bold text-dark text-truncate text-center"> Hua Hin / Cha-am
                            </div>
                            <div class="text-center pb-2 fs-9 text-secondary"> 3 hotels </div>
                        </button>
                    </div>
                    <div class="pb-3 col-4 col-sm-2">
                        <button class="btn border-0 p-0 bg-white rounded-circle overflow-hidden rn-bgcover"
                            style="background-image: url('https://pix6.agoda.net/geo/city/17787/1_17787_02.jpg');">
                            <img src="https://b2bpremium.travflex.com/assets/images/image-ratio-1-1.gif" class="w-100">
                        </button>
                        <button class="btn border-0 w-100 p-0 shadow-none">
                            <div class="pt-3 pb-1 fs-8 fw-bold text-dark text-truncate text-center"> Chonburi </div>
                            <div class="text-center pb-2 fs-9 text-secondary"> 8 hotels </div>
                        </button>
                    </div>
                    <div class="pb-3 col-4 col-sm-2">
                        <button class="btn border-0 p-0 bg-white rounded-circle overflow-hidden rn-bgcover"
                            style="background-image: url('https://pix6.agoda.net/geo/city/16056/1_16056_02.jpg');">
                            <img src="https://b2bpremium.travflex.com/assets/images/image-ratio-1-1.gif" class="w-100">
                        </button>
                        <button class="btn border-0 w-100 p-0 shadow-none">
                            <div class="pt-3 pb-1 fs-8 fw-bold text-dark text-truncate text-center"> Phuket </div>
                            <div class="text-center pb-2 fs-9 text-secondary"> 6 hotels </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

