<div class="">
    <div style="
            background-image: url('/assets/images/banners/pool-bar-3652849_1920.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        ">
        <div class="d-flex flex-column py-4" style="
                background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
                min-height: 780px;
            ">

            <div class="container py-4">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10 col-xl-9">
                        <div class="bg-white rounded w-100">
                            <div class="p-4">
                                <div class="row align-items-end">
                                    <div class="pb-2 col-12 col-md-5">
                                        <div class="fs-8 text-secondary">Destination</div>
                                        <div>
                                            <input type="text"
                                                class="form-control p-0 border-0 rounded-0 shadow-none fs-5 fw-bold text-dark"
                                                placeholder="Enter Destination">
                                        </div>
                                    </div>
                                    <div class="pb-2 col-12 col-md-5">
                                        <div class="fs-8 text-secondary">Stay . Sat - Mon, 2 Nights</div>
                                        <div>
                                            <button
                                                class="btn p-0 border-0 rounded-0 shadow-none fs-5 fw-bold text-dark">
                                                24 Dec - 26 Dec 2022
                                            </button>
                                        </div>
                                    </div>
                                    <div class="pb-2 col-12 col-md-2">
                                        <button class="btn btn-primary w-100 fs-7 rounded-pill">Find</button>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-2 pb-3 px-4 border-top bg-light rounded-bottom">
                                <div class="row">
                                    <div class="col-auto">
                                        <button class="btn p-0 border-0 w-100 text-start">
                                            <div class="d-flex">
                                                <div class="pe-2 fs-8 text-secondary">
                                                    <i class="fas fa-bed"></i>
                                                </div>
                                                <div class="ps-1 fs-8 text-dark">
                                                    1 Room, 2 Adults
                                                </div>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn p-0 border-0 w-100 text-start">
                                            <div class="d-flex">
                                                <div class="pe-2 fs-8 text-secondary">
                                                    <i class="fas fa-search"></i>
                                                </div>
                                                <div class="ps-1 fs-8 text-dark">
                                                    Search recently :
                                                </div>
                                                <div class="ps-1 fs-8 text-dark">
                                                    Bangkok, Pattaya, Phuket ...
                                                </div>
                                            </div>

                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-auto">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10 col-xl-8">
                        <div class="text-white text-center">
                            <div class="h2 text-title">
                                Share Holiday Joy
                            </div>
                            <div class="fs-5">
                                Give the gift of unforgettable experiences with Tours & Activities.
                            </div>
                            <div class="py-4">
                                <button class="btn btn-outline-light py-2 px-4 rounded-1 fs-6 text-title">
                                    Book now
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container">
        <div class="">
            <br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br>
        </div>
    </div>
</div>