<div class="bg-white border-top border-3 border-dark">
    <div class="container-xl">
        <div class="row g-0 align-items-center justify-content-between">
            <div class="col-auto">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <div class="bg-dark p-3">
                            <a href="javascript: void(0);" routerLink="/">
                                <img src="/assets/images/logo-htl.svg" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="row g-0 align-items-center">
                    <div class="col-auto d-none d-lg-block">
                        <div class="row gx-4 pe-4">
                            <div class="col-auto">
                                <a href="javascript: void(0);" class="btn border-0 p-0 fs-8 text-secondary">
                                    About us
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="javascript: void(0);" class="btn border-0 p-0 fs-8 text-secondary">
                                    Corporate
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="javascript: void(0);" class="btn border-0 p-0 fs-8 text-secondary">
                                    FAQs
                                </a>
                            </div>
                            <div class="col-auto">
                                <a href="javascript: void(0);" class="btn border-0 p-0 fs-8 text-secondary">
                                    Blog
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <div class="ps-4">
                            <button class="btn p-0 border-0 shadow-none fs-8 fw-bold text-dark text-uppercase"
                                data-bs-toggle="modal" data-bs-target="#boxMultiLanguagesModal">
                                <div class="d-flex">
                                    <div class="pe-1"><i class="fas fa-globe"></i></div>
                                    <div class="ps-1">EN</div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <div class="ps-4">
                            <button class="btn p-0 border-0 shadow-none fs-8 fw-bold text-dark text-uppercase"
                                data-bs-toggle="modal" data-bs-target="#boxLoginModal">
                                <div class="d-flex">
                                    <div class="pe-1"><i class="fas fa-user"></i></div>
                                    <div class="ps-1">Sign in</div>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="col-auto d-block d-lg-none">
                        <button class="btn border-0 shadow-none fs-6 text-dark" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<app-login-no-auth></app-login-no-auth>
<app-multi-languages></app-multi-languages>
<app-sidebar-no-auth></app-sidebar-no-auth>