<div class="bg-light border-top">
    <div class="container py-4">
        <div class="pb-4">
            <div class="row gy-2 gx-3 align-items-center">
                <div class="col-auto">
                    <div class="fs-3 text-title text-dark fw-bold">
                        HTL BANGKOK
                    </div>
                </div>
                <div class="col-auto">
                    <div class="d-flex align-items-center text-star-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="pt-3 pt-sm-1 fs-7 text-secondary">
                9/3 Soi Ratchadapisek 18 Ratchadapisek Rd., Huay Kwang Bangkok 10310,
                Thailand
            </div>
        </div>

        <app-hotel-images-gallery></app-hotel-images-gallery>


    </div>
</div>

