<div class="bg-light border-top">
    <div class="container py-4">
        <div class="pb-4">
            <div class="row gy-2 gx-3 align-items-center">
                <div class="col-auto">
                    <div class="fs-3 text-title text-dark fw-bold">
                        HTL BANGKOK
                    </div>
                </div>
                <div class="col-auto">
                    <div class="d-flex align-items-center text-star-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="pt-3 pt-sm-1 fs-7 text-secondary">
                9/3 Soi Ratchadapisek 18 Ratchadapisek Rd., Huay Kwang Bangkok 10310,
                Thailand
            </div>
        </div>

        <app-hotel-images-gallery></app-hotel-images-gallery>

        <div class="alert alert-warning p-3">
            <div class="row g-2 align-items-center">
                <div class="col-6 col-lg-4 col-xl-auto fs-7">
                    <div class="d-flex pe-4 w-100 opacity-25">
                        <div class="col-2 col-md-auto"><i class="fas fa-swimming-pool"></i></div>
                        <div class="col-10 col-md-auto px-2">Pool</div>
                    </div>
                </div>
                <div class="col-6 col-lg-4 col-xl-auto fs-7">
                    <div class="d-flex pe-4 w-100">
                        <div class="col-2 col-md-auto"><i class="fas fa-wifi"></i></div>
                        <div class="col-10 col-md-auto px-2">Wifi</div>
                    </div>
                </div>
                <div class="col-6 col-lg-4 col-xl-auto fs-7">
                    <div class="d-flex pe-4 w-100">
                        <div class="col-2 col-md-auto"><i class="fas fa-utensils"></i></div>
                        <div class="col-10 col-md-auto px-2">Kitchen</div>
                    </div>
                </div>
                <div class="col-6 col-lg-4 col-xl-auto fs-7">
                    <div class="d-flex pe-4 w-100">
                        <div class="col-2 col-md-auto"><i class="fas fa-wind"></i></div>
                        <div class="col-10 col-md-auto px-2">Air conditioner</div>
                    </div>
                </div>
                <div class="col-6 col-lg-4 col-xl-auto fs-7">
                    <div class="d-flex pe-4 w-100">
                        <div class="col-2 col-md-auto"><i class="fas fa-tv"></i></div>
                        <div class="col-10 col-md-auto px-2">Television</div>
                    </div>
                </div>
                <div class="col-6 col-lg-4 col-xl-auto fs-7">
                    <div class="d-flex pe-4 w-100">
                        <div class="col-2 col-md-auto"><i class="fas fa-car"></i></div>
                        <div class="col-10 col-md-auto px-2">Parking</div>
                    </div>
                </div>
            </div>
        </div>
        <app-hotel-rates></app-hotel-rates>
    </div>
</div>


<div class="bg-light">
    <div class="container py-4">
        <div class="py-4 border-top border-3 border-dark">
            <div class="pb-4">
                <div class="row">
                    <div class="pb-2 col-12 col-lg-2">
                        <div class="fw-bold">Information</div>
                    </div>
                    <div class="col-12 col-lg-10">
                        <div class="fs-6 text-secondary"> Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Ipsam magnam est minus voluptas, incidunt expedita voluptatum,
                            consequatur, quos suscipit porro iste dignissimos perspiciatis error odio inventore, tempore
                            veritatis modi quasi? <br><br> Eius, eveniet.
                            Alias voluptate nisi officia itaque nulla excepturi optio omnis, atque rerum consectetur
                            nihil quasi porro nesciunt cumque animi vitae nemo debitis exercitationem accusantium
                            dolores. Eaque, quo ab sint. <br><br>
                            Praesentium, commodi. Doloribus eveniet voluptatibus, laborum recusandae ipsam placeat ipsum
                            assumenda fugiat id, quidem possimus aut temporibus esse deserunt quo, provident eligendi
                            officia repudiandae error molestias, dolores? Nulla, tenetur, sint. </div>
                    </div>
                </div>
            </div>
            <div class="py-4 border-top border-1">
                <div class="row">
                    <div class="pb-2 col-12 col-lg-2">
                        <div class="fw-bold">Room Detail</div>
                    </div>
                    <div class="col-12 col-lg-10">
                        <div class="fs-6 text-secondary"> Sit dolore soluta expedita, similique
                            tenetur adipisci, beatae eligendi vero magni. Sapiente, odit fuga architecto tenetur
                            officiis, nihil dignissimos doloribus impedit nobis illum vel eveniet itaque optio corrupti
                            iste vitae. <br><br> Nemo laudantium cum
                            voluptates architecto laborum error illum, magni itaque, voluptatem officiis neque officia
                            cumque vitae atque facere similique, recusandae? Veritatis quod rerum neque impedit iusto,
                            magnam, esse porro officia! </div>
                    </div>
                </div>
            </div>

            <div class="py-4 border-top border-1">
                <div class="row">
                    <div class="pb-2 col-12 col-lg-2">
                        <div class="fw-bold">Dining</div>
                    </div>
                    <div class="col-12 col-lg-10">
                        <div class="row">
                            <div class="pb-2 col-12 col-md-6 col-lg-4">
                                <div class="pb-3">
                                    <a href="javascript: void(0);" class="rn-bgcover d-flex overflow-hidden rounded-1"
                                        style="background-image: url('https://image-tc.galaxy.tf/wijpeg-ev5wt4vf7zuak1kni3uaur629/wah-lok-cantonese-restaurant-carlton-hotel-bangkok-sukhumvit-11.jpg?width=1920');">
                                        <img src="/assets/images/image-ratio-16-9.gif" class="w-100">
                                    </a>
                                </div>
                                <div>
                                    <div class="pb-2 fs-6 fw-bold text-title text-dark">
                                        HTL BKK RESTAURANT
                                    </div>
                                    <div class="pb-2 fs-8 text-secondary">
                                        Repellat, assumenda totam, ratione ex quos corporis nemo placeat odio sapiente
                                        ullam dolore aliquid unde delectus, eaque facere. Voluptas tempore labore
                                        dolores suscipit. Aut, debitis rerum repellat odit consequuntur voluptatibus.
                                    </div>
                                    <div class="py-2">
                                        <button class="btn btn-outline-dark fs-8 rounded-1">
                                            Quick view
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="pb-2 col-12 col-md-6 col-lg-4">
                                <div class="pb-3">
                                    <a href="javascript: void(0);" class="rn-bgcover d-flex overflow-hidden rounded-1"
                                        style="background-image: url('https://www.peninsula.com/-/media/images/the-peninsula-hotels/pencities/bangkok/2018/04-bangkok-s%C3%BChring.jpg?mw=987&hash=419FC56E347577166850DE9B3E5F4B30');">
                                        <img src="/assets/images/image-ratio-16-9.gif" class="w-100">
                                    </a>
                                </div>
                                <div>
                                    <div class="pb-2 fs-6 fw-bold text-title text-dark">
                                        HTL BKK RESTAURANT
                                    </div>
                                    <div class="pb-2 fs-8 text-secondary">
                                        Blanditiis obcaecati porro quibusdam enim! Hic magnam debitis rem architecto
                                        tempora vero quia quisquam consequuntur repudiandae. Harum, saepe enim eaque quo
                                        veritatis animi culpa porro repellat placeat eos sint eius.
                                    </div>
                                    <div class="py-2">
                                        <button class="btn btn-outline-dark fs-8 rounded-1">
                                            Quick view
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="pb-2 col-12 col-md-6 col-lg-4">
                                <div class="pb-3">
                                    <a href="javascript: void(0);" class="rn-bgcover d-flex overflow-hidden rounded-1"
                                        style="background-image: url('https://images.lifestyleasia.com/wp-content/uploads/sites/3/2021/09/30100508/Patom-1.jpg');">
                                        <img src="/assets/images/image-ratio-16-9.gif" class="w-100">
                                    </a>
                                </div>
                                <div>
                                    <div class="pb-2 fs-6 fw-bold text-title text-dark">
                                        HTL De Cafe'
                                    </div>
                                    <div class="pb-2 fs-8 text-secondary">
                                        Enim illo ipsum maiores odio ullam accusamus necessitatibus, quaerat amet autem.
                                        Itaque odit impedit ea? Excepturi at repudiandae officiis molestias ea deserunt
                                        quisquam eum maiores commodi placeat praesentium, modi obcaecati.
                                    </div>
                                    <div class="py-2">
                                        <button class="btn btn-outline-dark fs-8 rounded-1">
                                            Quick view
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="py-4 border-top border-1">
                <div class="row">
                    <div class="pb-2 col-12 col-lg-2">
                        <div class="fw-bold">Facility</div>
                    </div>
                    <div class="col-12 col-lg-10">
                        <div class="row fs-6">
                            <div class="pb-3 col-12 col-md-6 col-lg-4">
                                <div class="pb-2 fw-bold text-dark">Important</div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Pool</span></div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Wifi</span></div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Air conditioning</span>
                                </div>
                            </div>
                            <div class="pb-3 col-12 col-md-6 col-lg-4">
                                <div class="pb-2 fw-bold text-dark">Daily disinfection</div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Daily disinfection</span>
                                </div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Face coverings on
                                        staff</span></div>
                            </div>
                            <div class="pb-3 col-12 col-md-6 col-lg-4">
                                <div class="pb-2 fw-bold text-dark">Covid-19 Safty</div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Physical
                                        distancing</span></div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Protective screens</span>
                                </div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Safe dining setup</span>
                                </div>
                            </div>
                            <div class="pb-3 col-12 col-md-6 col-lg-4">
                                <div class="pb-2 fw-bold text-dark">Dining</div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Kitchen</span></div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Body thermometer</span>
                                </div>
                            </div>
                            <div class="pb-3 col-12 col-md-6 col-lg-4">
                                <div class="pb-2 fw-bold text-dark">Sanitizer</div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">First aid kit</span>
                                </div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Hand sanitizer</span>
                                </div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Hygiene
                                        certification</span></div>
                            </div>
                            <div class="pb-3 col-12 col-md-6 col-lg-4">
                                <div class="pb-2 fw-bold text-dark">Tableware</div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Tableware items</span>
                                </div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Safety protocol</span>
                                </div>
                                <div class="pb-1 d-flex align-items-start"><span
                                        class="py-1 fs-9 text-secondary opacity-50"><i
                                            class="fas fa-chevron-right"></i></span><span
                                        class="px-2 fs-7 text-secondary">Temperature check</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-4 border-top border-1">
                <div class="row">
                    <div class="pb-2 col-12 col-lg-2">
                        <div class="fw-bold">Location</div>
                    </div>
                    <div class="col-12 col-lg-10">
                        <div class="fs-6 text-secondary"> Amphoe Mueang Phuket, Chang Wat Phuket,
                            Thailand <br> On the southern part of the island, Rawai is considered
                            one of the most picturesque areas in Phuket, surrounded by steep hills covered with tropical
                            rain forests and white sandy beaches, overlooking the bay of Chalong and beautiful nearby
                            islands. <br><br> Rawai is one of the last
                            places still not crowded with tourists where you can enjoy a slice of peaceful traditional
                            life. Located between Chalong Pier and Rawai Beach — just an 8 minute drive away from the
                            world famous Nai Harn beach. </div>
                    </div>
                </div>
            </div>
            <div class="py-4">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1937.4515443653559!2d100.575593987625!3d13.784715281813048!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sth!2sth!4v1670582465453!5m2!1sth!2sth"
                    width="100%" height="450" allowfullscreen="" loading="lazy" style="border: 0;"></iframe>
            </div>
        </div>
    </div>
</div>