<div class="bg-white border-top">
    <div class="container">
        <div class="py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="javascript: void(0);" routerLink="/" class="fs-8 text-decoration-none">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="javascript: void(0);" routerLink="/member" class="fs-8 text-decoration-none">
                            Member
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="javascript: void(0);" class="fs-8 text-secondary text-decoration-none">
                            Profile
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>


<div class="bg-light border-top">
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-lg-3 order-2 order-lg-1">
                <app-member-links></app-member-links>
            </div>
            <div class="pb-3 pb-lg-0 col-12 col-lg-9 order-1 order-lg-2">
                <div class="bg-white border p-3 fs-7">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nobis optio doloremque officiis rem
                    accusantium eligendi sapiente voluptatibus, blanditiis dolorum iure quidem architecto dignissimos
                    assumenda maiores explicabo, eaque perspiciatis voluptas?
                </div>
            </div>
        </div>
    </div>
</div>


<!--



<div class="bg-white border-top">
    <div class="container py-3">
        <div class="row g-3">
            <div class="col-12 col-lg-3">
                <div class="bg-white border h-100">
                    <br><br><br><br>
                </div>
            </div>
            <div class="col-12 col-lg-9">
                <div class="row g-3">
                    <div class="col-12 col-md-12">
                        <div class="bg-white border h-100">
                            <br><br><br><br><br>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="bg-white border h-100">
                            <br><br><br><br><br>
                            <br><br><br><br><br>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="bg-white border h-100">
                            <br><br><br><br><br>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="bg-white border h-100">
                            <br><br><br><br><br>
                            <br><br><br><br><br>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="bg-white border h-100">
                            <br><br><br><br><br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


    <div class="bg-light border-top">
    <div class="container-xl py-3 py-lg-0">
        <div class="row g-0">
            <div class="col-12 col-lg-3 bg-white shadow-sm">
                <div class="p-3">
                    <div class="fs-8 text-dark text-uppercase d-none">
                        Member
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4 col-md-auto col-lg-12">
                            <button class="btn w-100 p-0 fs-7">
                                My Bookings
                            </button>
                        </div>
                        <div class="col-4 col-md-auto col-lg-12">
                            <button class="btn w-100 p-0 fs-7">
                                User Profile
                            </button>
                        </div>
                        <div class="col-4 col-md-auto col-lg-12">
                            <button class="btn w-100 p-0 fs-7">
                                Change password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-9">

                <div class="p-0 p-lg-4">
                    <div class="pt-4 pb-2">
                        <div class="pb-3 border-bottom">
                            <div class="fs-5 fw-bold text-title text-dark">
                                My bookings
                            </div>
                        </div>
                    </div>
                    <div class="pb-4">
                        <div class="row">
                            <div class="col-4 col-md-auto">
                                <div class="border-bottom border-2 border-primary">
                                    <a href="javascript: void(0);"
                                        class="btn w-100 fs-8 py-2 px-0 fw-bold shadow-none text-rn-primary">
                                        Upcoming
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto">
                                <div class="">
                                    <a href="javascript: void(0);"
                                        class="btn w-100 fs-8 py-2 px-0 fw-bold shadow-none ">
                                        Completed
                                    </a>
                                </div>
                            </div>
                            <div class="col-4 col-md-auto">
                                <div class="">
                                    <a href="javascript: void(0);"
                                        class="btn w-100 fs-8 py-2 px-0 fw-bold shadow-none ">
                                        Cancelled
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="pb-4">
                        <div class="mb-3 bg-white rounded-1 shadow-sm border-bottom p-3">
                            TSET
                        </div>
                    </div>

                    <br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br><br>
                </div>



                <div class="p-4 d-none">





                    <div>
                        <div class="row py-3">
                            <div class="col-5 col-md-4 col-lg-2">
                                <div>
                                    <a href="javascript: void(0);" routerLink="/member/profile"
                                        class="d-flex w-100 h-100 rounded-1 rn-bgcover"
                                        style="background-image: url('https://a0.muscache.com/im/pictures/9592d45a-4fef-4c24-bc35-de32ab16e89c.jpg?im_w=1920');">
                                        <img src="/assets/images/image-ratio-4-3.gif" class="w-100">
                                    </a>
                                </div>
                            </div>
                            <div class="col-7 col-md-6 col-lg-8">
                                <div class="row">
                                    <div class="pb-2 col-12 col-lg-5">
                                        <div class="fs-6">
                                            <a href="/bookings/detail/266106712"
                                                class="text-dark fw-bold text-decoration-none">
                                                HTL BANGKOK
                                            </a>
                                        </div>
                                        <div class="fs-7 pt-1">
                                            <span class="text-secondary">Booking ID : </span>
                                            <span class="text-dark fw-bold">266106712</span>
                                        </div>
                                        <div class="fs-7 text-success pt-2">
                                            <i class="fas fa-check-circle"></i>
                                            <span class="ps-1 fw-bold">Complete</span>
                                        </div>
                                    </div>
                                    <div class="pb-2 col-12 col-lg-4">
                                        <div class="row">
                                            <div class="col-auto col-lg-6">
                                                <div class="fs-7 text-secondary">Check-in</div>
                                                <div class="fs-7 text-dark fw-bold">15 Nov 2021</div>
                                            </div>
                                            <div class="col-auto col-lg-6">
                                                <div class="fs-7 text-secondary">Check-out</div>
                                                <div class="fs-7 text-dark fw-bold">17 Nov 2021</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pb-2 col-12 col-lg-3">
                                        <div class="text-lg-end fs-7 text-secondary">Booked on <span
                                                class="text-nowrap">13 Nov 2021</span></div>
                                        <div class="text-lg-end fs-6 text-rn-primary fw-bold pt-1">
                                            THB 987.58
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-2 d-none d-md-block">
                                <div class="d-flex justify-content-end pt-3 pt-lg-0">
                                    <div class="col-12 col-sm-7 col-md-auto">
                                        <a href="/bookings/detail/266106712"
                                            class="btn btn-sm btn-primary w-100 px-4 py-2 fw-bold">
                                            View detail
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-top"></div>
                        <div class="py-3 fs-7 text-secondary">
                            <span class="pe-2">
                                Can't find your reservation here?
                            </span>
                            <a href="javascript: void(0);" routerLink="/help-support" class="text-primary">
                                Help center
                            </a>
                        </div>
                    </div>



                </div>
            </div>
        </div>


    </div>
</div>
 -->
<!--

    <div class="bg-light border-top">
    <div class="container py-4">
        <div class="py-4 text-center" style="min-height: 450px;">
            <div class="pb-2 fs-5 text-title text-dark">
                MEMBER PROFILE
            </div>
            <div class="pb-4 fs-6 text-secondary">
                That's all we know.
            </div>
        </div>
    </div>
</div>

 -->