<div class="bg-white border-top">
    <div class="container">
        <div class="py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="javascript: void(0);" routerLink="/" class="fs-8 text-decoration-none">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="javascript: void(0);" routerLink="/member" class="fs-8 text-decoration-none">
                            Member
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="javascript: void(0);" class="fs-8 text-secondary text-decoration-none">
                            My bookings
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>



<div class="bg-light border-top">
    <div class="container py-4">
        <div class="row">
            <div class="col-12 col-lg-3 order-2 order-lg-1">
                <app-member-links></app-member-links>
            </div>
            <div class="pb-3 pb-lg-0 col-12 col-lg-9 order-1 order-lg-2">

                <div class="bg-white border mb-3">
                    <div class="p-3 border-bottom">
                        <div class="fs-7 fw-bold text-dark">
                            Lionel Messi
                        </div>
                        <div class="fs-7 text-secondary ">
                            Complete 2 more bookings to get discounts and benefits
                        </div>
                    </div>
                    <div>
                        <div class="row g-0">
                            <div class="col-4 col-md-3 col-lg-2">
                                <button class="btn btn-primary w-100 rounded-0 fs-8">
                                    Upcoming
                                </button>
                            </div>
                            <div class="col-4 col-md-3 col-lg-2">
                                <button class="btn border-end w-100 rounded-0 fs-8">
                                    Completed
                                </button>
                            </div>
                            <div class="col-4 col-md-3 col-lg-2">
                                <button class="btn border-end w-100 rounded-0 fs-8">
                                    Cancelled
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="py-3">
                    <app-ttk-booking-search (onSearch)="searhBooking($event)"></app-ttk-booking-search>
                </div>

                <ng-container *ngFor="let item of filterMyBooking; index as i;">
                    <div class="bg-white border mb-3">
                        <div class="p-3">
                            <div class="row g-3">
                                <div class="col-9 col-lg-10">
                                    <div class="row g-2">
                                        <div class="col-12 col-lg-3">
                                            <div class="pb-1 fs-9 text-secondary text-uppercase">
                                                Booking ID
                                            </div>
                                            <div class="fs-8 fw-bold" [ngClass]="getClass(item.status)">
                                                {{ item.bookingid }}
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-4">
                                            <div class="pb-1 fs-9 text-secondary text-uppercase">
                                                Services
                                            </div>
                                            <ng-container *ngFor="let service of item.services; index as j;">
                                                <div class="fs-8 fw-bold text-dark">
                                                    {{ service }}
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="col-12 col-lg-5">
                                            <div class="row g-2">
                                                <div class="col-12 col-lg-6">
                                                    <div class="pb-1 fs-9 text-secondary text-uppercase">
                                                        Booking period
                                                    </div>
                                                    <div class="pb-1 fs-8 fw-bold text-dark">
                                                        {{ item.period }}
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <div class="pb-1 fs-9 text-secondary text-uppercase">
                                                        Booked on
                                                    </div>
                                                    <div class="pb-1 fs-8 fw-bold text-dark">
                                                        {{ item.bookedon | date:'d MMM y' }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 col-lg-2">
                                    <div>
                                        <button class="btn btn-outline-primary fs-8 rounded-0 w-100"
                                            routerLink="/member/booking-detail">
                                            View detail
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>