<div class="bg-white border-top">
    <div class="container">
        <div class="py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="javascript: void(0);" routerLink="/" class="fs-8 text-decoration-none">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="javascript: void(0);" routerLink="/member" class="fs-8 text-decoration-none">
                            Member
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="javascript: void(0);" class="fs-8 text-secondary text-decoration-none">
                            My bookings
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>



<div class="bg-light border-top">
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-12">

                <div>
                    <br><br><br><br>
                </div>

                <div class="bg-white border pt-3 px-3 mb-3">
                    <div class="row">
                        <div class="col-12 col-md-9 col-lg-10">

                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="row">
                                        <div class="pb-3 col-12 col-md-4">
                                            <div class="pb-1 fs-9 text-secondary text-uppercase">
                                                Confirm number
                                            </div>
                                            <div class="fs-8 fw-bold text-dark">
                                                MA266106712
                                            </div>
                                        </div>
                                        <div class="pb-3 col-12 col-md-8">
                                            <div class="pb-3 d-block d-md-none opacity-50">
                                                <hr class="p-0 m-0">
                                            </div>
                                            <div class="pb-1 fs-9 text-secondary text-uppercase">
                                                Services
                                            </div>
                                            <div class="">
                                                <div class="fs-8 fw-bold text-dark">
                                                    HTL BANGKOK
                                                </div>
                                                <div class="fs-8 fw-bold text-dark">
                                                    HTL BKK Massage & Spa
                                                </div>
                                                <div class="fs-8 fw-bold text-dark">
                                                    HTL BKK Restaurant (Buffet)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="pb-3 d-block d-md-none opacity-50">
                                        <hr class="p-0 m-0">
                                    </div>
                                    <div class="row">
                                        <div class="pb-3 col-12 col-md-4">
                                            <div class="pb-1 fs-9 text-secondary text-uppercase">
                                                Period
                                            </div>
                                            <div class="fs-8 fw-bold text-dark">
                                                11 - 13 Nov 2022
                                            </div>
                                        </div>
                                        <div class="pb-3 col-12 col-md-4">
                                            <div class="pb-1 fs-9 text-secondary text-uppercase">
                                                Booked on
                                            </div>
                                            <div class="fs-8 fw-bold text-dark">
                                                10 Nov 2022
                                            </div>
                                        </div>
                                        <div class="pb-3 col-12 col-md-4">
                                            <div class="pb-1 fs-9 text-secondary text-uppercase">
                                                Status
                                            </div>
                                            <div class="d-flex text-success">
                                                <div class="pe-1 fs-7"><i class="fas fa-check-circle"></i></div>
                                                <div class="ps-1 fs-7 fw-bold">Complete</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-3 col-lg-2">
                            <div class="pb-3">
                                <button class="btn btn-outline-primary rounded-0 fs-8 w-100">
                                    View detail
                                </button>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>


        <div class="pb-3">

        </div>
        <div class="pb">
            <br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>