
<div class="bg-white border-top">
    <div class="container">
        <div class="py-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item">
                        <a href="javascript: void(0);" routerLink="/" class="fs-8 text-decoration-none">
                            Home
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="javascript: void(0);" routerLink="/member" class="fs-8 text-decoration-none">
                            Member
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <a href="javascript: void(0);" class="fs-8 text-secondary text-decoration-none">
                            My bookings
                        </a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>



<div class="bg-light border-top">
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">

                <div>
                    <br><br><br><br>
                    <br><br><br><br>
                </div>

                <div class="bg-white border-bottom rounded-1">
                    <div class="p-3">
                        <div class="row">
                            <div class="col-12 col-md-4 col-lg-2">
                                <div class="h-100">
                                    <a href="javascript: void(0);" routerLink="/member/profile"
                                        class="d-flex w-100 h-100 rounded-1 rn-bgcover"
                                        style="background-image: url('https://www.jtbtrip.com/ImageData/Hotel/w22_hotel_by_burasari-general1.jpg');">
                                        <img src="/assets/images/image-ratio-16-9.gif" class="w-100 h-100">
                                    </a>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 col-lg-10 pt-3 pt-md-0">

                                <div class="row g-4">
                                    <div class="col-12 col-md-8 col-lg-9">
                                        <div class="row g-3">
                                            <div class="col-12 col-lg-6">
                                                <div class="fs-5 fw-bold text-title">
                                                    HTL BANGKOK
                                                </div>
                                                <div class="fs-8 text-secondary">
                                                    Bangkok, Thailand
                                                </div>
                                                <div class="d-flex pt-3">
                                                    <div class="pe-1 fs-7 text-success">
                                                        <i class="fas fa-check-circle"></i>
                                                    </div>
                                                    <div class="ps-1 fs-7 text-success fw-bold">
                                                        Complete
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <div class="row">
                                                    <div class="col-6 col-sm-auto">
                                                        <div class="fs-8 text-secondary">
                                                            Check-in
                                                        </div>
                                                        <div class="fs-7 fw-bold text-dark">
                                                            11 Nov 2022
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-sm-auto">
                                                        <div class="fs-8 text-secondary">
                                                            Check-out
                                                        </div>
                                                        <div class="fs-7 fw-bold text-dark">
                                                            13 Nov 2022
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mt-2 pt-2 border-top">
                                                    <div class="fs-8 text-secondary">
                                                        Booked on 10 Nov 2022
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4 col-lg-3">
                                        <div class="pb-3">
                                            <div class="fs-8 text-secondary">
                                                Booking ID : 266106712
                                            </div>
                                            <div class="fs-8 text-secondary">
                                                THB 5,667.03
                                            </div>
                                        </div>
                                        <div>
                                            <button class="btn btn-outline-primary w-100 rounded-1">
                                                <div class="fs-8">View detail</div>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="pb-3">

        </div>
        <div class="pb">
            <br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>