<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <div class="text-title fs-5 fw-bold text-dark">HTL</div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body border-top">
        <div class="pb-4">
            <button class="btn p-0 border-0 shadow-none fs-8 fw-bold text-dark text-uppercase" data-bs-toggle="modal"
                data-bs-target="#boxLoginModal">
                <div class="d-flex">
                    <div class="pe-1"><i class="fas fa-user"></i></div>
                    <div class="ps-1">Sign In</div>
                </div>
            </button>
        </div>
        <div class="pb-4">
            <div class="py-1"><a href="javascript: void(0);" routerLink="/" data-bs-dismiss="offcanvas"
                    class="fs-7 text-decoration-none text-secondary">Home</a></div>
            <div class="py-1"><a href="javascript: void(0);" routerLink="/" data-bs-dismiss="offcanvas"
                    class="fs-7 text-decoration-none text-secondary">About us</a></div>
            <div class="py-1"><a href="javascript: void(0);" routerLink="/" data-bs-dismiss="offcanvas"
                    class="fs-7 text-decoration-none text-secondary">Corporate</a></div>
            <div class="py-1"><a href="javascript: void(0);" routerLink="/" data-bs-dismiss="offcanvas"
                    class="fs-7 text-decoration-none text-secondary">FAQs</a></div>
            <div class="py-1"><a href="javascript: void(0);" routerLink="/" data-bs-dismiss="offcanvas"
                    class="fs-7 text-decoration-none text-secondary">Blog</a></div>
        </div>
    </div>
</div>